&lt;div&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    {{&gt; 00-elements/04-images/03-square.mustache }}
  &lt;/a&gt;
&lt;/div&gt;
&lt;div{{{ media_block_attributes }}}&gt;
  {{ excerpt.medium }}
&lt;/div&gt;
