<div class="page" id="page">
  <div role="main">
    <div class="g g-3up">
      <div class="gi">
          </div>
      </div><!--end 3up-->

    <hr />

    <div class="l-two-col">
      <div class="l-main">
        <section class="section latest-posts">
          <h2 class="section-title">Latest Posts</h2>
          <ul class="post-list">
            <li></li>
            </ul>
          <a href="#" class="text-btn">View more posts</a>
        </section>
      </div><!--end .l-main-->

      <div class="l-sidebar">
        </div><!--end .l-sidebar-->
    </div><!--end .l-two-col-->
  </div><!--End role=main-->
  </div>
