.cf::before,
.hoagies .item-list::before,
.hoagies .item-list li::before,
[id^="block-"][id$="-views-block-content-recent-block-3"] .item-list::before,
.view-id-content_recent.view-display-id-page_1 .item-list::before,
[id^="block-"][id$="-views-block-content-recent-block-3"] .item-list li::before,
.view-id-content_recent.view-display-id-page_1 .item-list li::before,
.cf::after,
.hoagies .item-list::after,
.hoagies .item-list li::after,
[id^="block-"][id$="-views-block-content-recent-block-3"] .item-list::after,
.view-id-content_recent.view-display-id-page_1 .item-list::after,
[id^="block-"][id$="-views-block-content-recent-block-3"] .item-list li::after,
.view-id-content_recent.view-display-id-page_1 .item-list li::after {
  content: " ";
  display: table;
}
.cf::after,
.hoagies .item-list::after,
.hoagies .item-list li::after,
[id^="block-"][id$="-views-block-content-recent-block-3"] .item-list::after,
.view-id-content_recent.view-display-id-page_1 .item-list::after,
[id^="block-"][id$="-views-block-content-recent-block-3"] .item-list li::after,
.view-id-content_recent.view-display-id-page_1 .item-list li::after {
  clear: both;
}
.lc {
  clear: both;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0.8rem;
}
.hoagies [role="article"] > h2,
[id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] > h2,
.view-id-content_recent.view-display-id-page_1 [role="article"] > h2 {
  font-size: 1.25em;
}
.hoagies [role="article"] [property="schema:text"] p,
[id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] [property="schema:text"] p,
.view-id-content_recent.view-display-id-page_1 [role="article"] [property="schema:text"] p,
.hoagies [role="article"] [property="text"] p,
[id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] [property="text"] p,
.view-id-content_recent.view-display-id-page_1 [role="article"] [property="text"] p {
  margin: 0.4rem 0;
}
.hoagies [role="article"] [property="schema:text"] p:first-child,
[id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] [property="schema:text"] p:first-child,
.view-id-content_recent.view-display-id-page_1 [role="article"] [property="schema:text"] p:first-child,
.hoagies [role="article"] [property="text"] p:first-child,
[id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] [property="text"] p:first-child,
.view-id-content_recent.view-display-id-page_1 [role="article"] [property="text"] p:first-child {
  margin-top: 0;
}
.hoagies [role="article"] [property="schema:text"] p:last-child,
[id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] [property="schema:text"] p:last-child,
.view-id-content_recent.view-display-id-page_1 [role="article"] [property="schema:text"] p:last-child,
.hoagies [role="article"] [property="text"] p:last-child,
[id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] [property="text"] p:last-child,
.view-id-content_recent.view-display-id-page_1 [role="article"] [property="text"] p:last-child {
  margin-bottom: 0;
}
@media all and (max-width: 480px) {
  .hoagies [role="article"] > div > div:first-of-type > a,
  [id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] > div > div:first-of-type > a,
  .view-id-content_recent.view-display-id-page_1 [role="article"] > div > div:first-of-type > a {
    display: block;
    max-width: 22.5rem;
  }
}
@media all and (min-width: 481px) {
  .hoagies .item-list,
  [id^="block-"][id$="-views-block-content-recent-block-3"] .item-list,
  .view-id-content_recent.view-display-id-page_1 .item-list {
    padding-top: 0.4rem;
  }
  .hoagies .item-list li,
  [id^="block-"][id$="-views-block-content-recent-block-3"] .item-list li,
  .view-id-content_recent.view-display-id-page_1 .item-list li {
    clear: both;
    margin-bottom: 1.6rem;
  }
  .hoagies [role="article"] > h2,
  [id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] > h2,
  .view-id-content_recent.view-display-id-page_1 [role="article"] > h2,
  .hoagies [role="article"] [property="schema:text"],
  [id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] [property="schema:text"],
  .view-id-content_recent.view-display-id-page_1 [role="article"] [property="schema:text"],
  .hoagies [role="article"] [property="text"],
  [id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] [property="text"],
  .view-id-content_recent.view-display-id-page_1 [role="article"] [property="text"] {
    float: right;
    margin-top: 0;
    padding: 0 0 0 1.6rem;
    width: 75%;
  }
  .hoagies [role="article"] img,
  [id^="block-"][id$="-views-block-content-recent-block-3"] [role="article"] img,
  .view-id-content_recent.view-display-id-page_1 [role="article"] img {
    float: left;
    width: 25%;
  }
}
@media all and (min-width: 768px) {
  .hoagies .item-list,
  [id^="block-"][id$="-views-block-content-recent-block-3"] .item-list,
  .view-id-content_recent.view-display-id-page_1 .item-list {
    padding-right: 1.6rem;
  }
}
@media all and (min-width: 768px) {
  #region-header {
    margin-bottom: 0.8rem;
  }
}
@media all and (min-width: 768px) {
  [id="region-primary-menu"] {
    margin-top: 0;
    min-height: 4rem;
  }
}
#region-secondary-menu [id^="block-"][id*="-search"] > h2 > a,
[id^="block-"][id*="-main"] > h2 > a,
[id^="block-"][id*="-account"] > h2 > a {
  border-left: 1px solid #ddd;
  padding: 1.6rem;
  width: 5.5rem;
  height: 5.4rem;
}
@media all and (min-width: 768px) {
  #main {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (min-width: 768px) {
  .layout-content,
  .layout-sidebar-first {
    flex-grow: 1;
    width: 66.66666666666667%;
  }
}
@media all and (min-width: 1025px) {
  .layout-content,
  .layout-sidebar-first {
    width: 75%;
  }
}
@media all and (min-width: 768px) {
  .layout-sidebar-first,
  .layout-sidebar-second {
    padding-left: 1.6rem;
  }
}
@media all and (min-width: 768px) {
  .path-frontpage .layout-sidebar-first {
    padding-left: 0;
  }
}
@media all and (max-width: 480px) {
  .layout-sidebar-second {
    text-align: center;
  }
}
@media all and (min-width: 768px) {
  .layout-sidebar-second {
    width: 33.333333333333336%;
  }
}
@media all and (min-width: 1025px) {
  .layout-sidebar-second {
    width: 25%;
  }
}
@media all and (min-width: 768px) {
  .path-node [id^="block-"][id$="-content"],
  .path-search [id^="block-"][id$="-content"] {
    padding-right: 1.6rem;
  }
}
[id^="block-"][id$="-views-block-content-recent-block-1"] .views-field-title {
  font-size: 1.6rem;
  font-weight: normal;
}
@media all and (max-width: 767px) {
  [id^="block-"][id$="-views-block-content-recent-block-1"] .views-field-title {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 480px) {
  [id^="block-"][id$="-views-block-content-recent-block-3"] h1,
  .view-id-content_recent.view-display-id-page_1 h1,
  [id^="block-"][id$="-views-block-content-recent-block-3"] h2,
  .view-id-content_recent.view-display-id-page_1 h2 {
    text-align: center;
  }
  [id^="block-"][id$="-views-block-content-recent-block-3"] article > [role="content"] > div,
  .view-id-content_recent.view-display-id-page_1 article > [role="content"] > div {
    display: flex;
    justify-content: center;
  }
}
@media all and (min-width: 481px) {
  [id^="block-"][id$="-page-title"] {
    margin-right: 1.6rem;
  }
}
footer[role="contentinfo"] {
  background: #131313;
  color: #fff;
}
footer[role="contentinfo"] a {
  color: #f9f9f9;
}
[id^="block-"][id$="-fepperfooter"] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
[id^="block-"][id$="-fepperfooter"] > div {
  width: 100%;
}
[id^="block-"][id$="-fepperfooter"] p {
  margin: 0.5rem 0;
}
@media all and (max-width: 480px) {
  [id^="block-"][id$="-fepperfooter"] {
    text-align: center;
  }
}
@media all and (min-width: 768px) {
  [id^="block-"][id$="-fepperfooter"] {
    text-align: right;
  }
}
.item-list + a {
  display: block;
  font-style: italic;
}
@media all and (max-width: 480px) {
  .item-list + a {
    text-align: center;
  }
}
@media all and (max-width: 480px) {
  section[rel="schema:comment"] h2 {
    text-align: center;
  }
}
.path-frontpage #main {
  flex-wrap: wrap;
}
.path-frontpage .layout-content {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0 0 1.5em;
  width: 100%;
}
.path-frontpage #region-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.path-frontpage #block-fepper-sub-content:first-child img,
.path-frontpage #region-content > .views-row img {
  display: block;
}
@media all and (max-width: 767px) {
  .path-frontpage #block-fepper-sub-content:first-child .views-field-title,
  .path-frontpage #region-content > .views-row .views-field-title {
    line-height: 1.1;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .path-frontpage #block-fepper-sub-content:first-child,
  .path-frontpage #region-content > .views-row {
    width: calc(50% - 0.4rem);
  }
}
@media all and (max-width: 480px) {
  .path-frontpage #region-content #block-fepper-sub-content:first-child .views-field-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8.7rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .path-frontpage #region-content #block-fepper-sub-content:first-child {
    position: relative;
  }
  .path-frontpage #region-content #block-fepper-sub-content:first-child .views-field-field-image {
    padding-top: 75%;
  }
  .path-frontpage #region-content #block-fepper-sub-content:first-child .views-field-field-image .field-content {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media all and (max-width: 767px) {
  .path-frontpage #region-content #block-fepper-sub-content:first-child .views-field-title {
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    padding: 0 0.8rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .path-frontpage #region-content #block-fepper-sub-content:first-child .views-field-title {
    padding-top: 19%;
  }
  .path-frontpage #region-content #block-fepper-sub-content:first-child .views-field-title .field-content {
    display: block;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media all and (min-width: 768px) {
  .path-frontpage #region-content #block-fepper-sub-content:first-child {
    position: relative;
  }
  .path-frontpage #region-content #block-fepper-sub-content:first-child .views-field-field-image {
    min-height: 7.68rem;
  }
  .path-frontpage #region-content #block-fepper-sub-content:first-child .views-field-title {
    font-size: 1.5em;
    padding: 2.8rem 0.8rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .path-frontpage #region-content #block-fepper-sub-content:last-child {
    width: auto;
  }
}
.path-frontpage #region-content > .views-row {
  position: relative;
}
.path-frontpage #region-content > .views-row .views-field-field-image {
  min-height: 17rem;
  position: relative;
  z-index: 0;
}
.path-frontpage #region-content > .views-row .views-field-title {
  width: 100%;
}
@media all and (max-width: 480px) {
  .path-frontpage #region-content > .views-row .views-field-title {
    text-align: center;
  }
}
@media all and (min-width: 768px) {
  .path-frontpage #region-content > .views-row {
    padding-top: 0.8rem;
    width: calc(33.333333333333336% - (3.2rem / 3));
  }
}
@media all and (min-width: 768px) {
  .path-frontpage .layout-sidebar-first {
    width: 66.66666666666667%;
  }
}
@media all and (min-width: 1025px) {
  .path-frontpage .layout-sidebar-first {
    width: 75%;
  }
}
.path-frontpage article h2 {
  font-size: 1.25em;
}
@media all and (min-width: 768px) {
  #site-name {
    margin-top: 0;
  }
}
@media all and (min-width: 768px) {
  #region-header [id^="block-"][id$="-footer"] {
    margin-top: 0.8rem;
  }
}
