&lt;!-- begin article --&gt;
&lt;div&gt;
  &lt;!-- begin article body --&gt;
  {{&gt; 02-components/01-article/00-article-body }}
  &lt;!-- end article body --&gt;
&lt;/div&gt;

{{&gt; 02-components/02-comments/00-comment-thread }}
