.section
  margin: 0 0 $space
.social-share
  overflow: hidden
  margin-bottom: $space
  li
    float: left
    margin-right: $space-quarter
  a
    background: $gray-dark
    color: $white
    display: block
    padding: $pad-half
    &:hover
      background: $gray
