/* Global Font Classes */
.font-secondary
  font-family: $font-secondary
//Text Passages
.text
  a
    text-decoration: underline
article[role="article"],
.text
  ul
    list-style: disc
    margin: 0 0 $space 1.92rem
    ul
      margin-bottom: 0
  ol
    list-style: decimal
    margin: 0 0 $space 1.92rem
    ol
      margin-bottom: 0
