footer[role="contentinfo"]
  clear: both
  overflow: hidden
  background: $gray-dark-2
  color: $white
  line-height: 1.2
  a
    color: $gray-light
#block-fepperfooter
  padding: $pad $pad 0
  @extend .lc
@media all and (min-width: $bp-med)
  #block-fepperfooter p
    float: right
