.header
  background: $white
  border-bottom: 1px solid #dbdbdb
  padding: 0
  position: relative
  @extend .lc
#block-fepper-branding
  position: relative
  z-index: 1
  img
    float: left
    max-width: 8em
    margin: 0.4em
    @media all and (min-width: $bp-med)
      max-width: 9em
/* Search Form */
#block-searchform
  height: 3em
  overflow: hidden
  position: absolute
  top: 0
  right: 0
  width: 3.2em
  h2
    border-left: 1px solid #d8d8d8
    color: transparent
    cursor: pointer
    float: right
    font-size: 1em
    margin: 0
    overflow: hidden
    width: 3.2em
    height: 3em
    &:before
      color: $gray-dark
      float: right
      font-size: 1.3em
      padding: 0.7em
@media all and (max-width: $bp-med - 1px)
  #block-searchform.open
    width: auto
    height: auto
@media all and (min-width: $bp-med)
  #block-searchform
    position: static
    width: auto
    height: auto
    h2
      display: none
