<section rel="schema:comment">
  <h2>Comments</h2>
  {{# listItems.five }}
    {{> 03-templates/comment(comment_attributes: ' class="js-comment" typeof="schema:Comment"') }}
  {{/ listItems.five }}
  {{> 01-compounds/04-forms/01-comment-form }}
</section>
