<nav role="navigation" id="block-mainnavigation" class="contextual-region">
  <h2 class="visually-hidden">Main navigation</h2>
  <ul>
    <li><a href="{{ link.pages-homepage }}">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="{{ link.pages-blog }}">Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav><!--end .nav-->
