/*------------------------------------*
    $LAYOUT
*------------------------------------*/
/* Layout Container */
.lc
  max-width: $max-width
  margin: 0 auto
  padding: $pad-half
/*------------------------------------*
    $TEMPLATES
*------------------------------------*/
.front .layout-content
  border-bottom: 2px solid $gray-light-2
  margin-bottom: 1em
  padding: 0 0 2em
  width: 100%
  #region-content
    display: flex
    flex-wrap: wrap
    justify-content: space-between
.layout-sidebar-second
  h2
    border-bottom: 1px solid $gray-light-3
    padding: 0.5em 0
  li
    padding: 0.25em 0
    border-bottom: 1px solid $gray-light-3
    > *
      display: block
.layout-content
  @extend .cf
@media all and (max-width: $bp-med-2 - 1px)
  .layout-content
    clear: both
@media all and (min-width: $bp-med-2)
  .layout-content,
  .layout-sidebar-first
    float: left
    width: 70%
    padding-right: 1em
  .layout-sidebar-second
    float: left
    width: 30%
    padding: 0 0 0 1em
