/*------------------------------------*
    $NAVIGATION
*------------------------------------*/
#block-mainnavigation
  height: 3em
  overflow: hidden
  position: absolute
  right: 0
  top: 0
  width: 100%
  z-index: 1
  h2
    border-left: 1px solid #d8d8d8
    color: transparent
    cursor: pointer
    float: right
    font-size: 1em
    margin: 0
    position: relative
    right: 3.25em
    top: 0
    width: 3.2em
    height: 3em
    &:before
      color: $gray-dark
      float: right
      font-size: 1.3em
      padding: 0.7em
    &:hover:before
      color: $gray
  ul
    background-color: $white
    clear: both
  a
    display: block
    padding: 1em
    border-top: 1px solid $gray-light-2
  &.active
    max-height: 40em
@media all and (max-width: $bp-med - 1px)
  #block-mainnavigation.open
    height: auto
@media all and (min-width: $bp-med)
  #block-mainnavigation
    border-left: 0
    clear: none
    float: right
    padding-right: 0
    position: static
    width: auto
    height: auto
    h2
      display: none
    li
      float: left
    a
      border: 0
      padding: 1em
.more-link
  font-style: italic
.pager
  clear: both
  display: flex
  justify-content: center
  padding-top: 1em
  .pager__items
    display: flex
    flex-wrap: wrap
    justify-content: center
  li
    border-right: 1px solid $gray-light-2
    &:last-child
      border: 0
  a
    padding: 1.6rem 1.4rem
  @media all and (max-width: $bp-small - 1px)
    .pager__items
      width: 18rem
  @media all and (max-width: $bp-small-2 - 1px)
    a
      padding: 1.6rem 1.0rem
  @media all and (min-width: $bp-large)
    justify-content: flex-start
    .pager__items
      justify-content: flex-start
