<!-- begin article -->
<div property="schema:text">
  <!-- begin article body -->
  {{> 01-compounds/01-blocks/05-article-body }}
  <!-- end article body -->
</div>

{{> 02-components/02-comments/00-comment-thread }}
