.*.swp
.DS_Store
.publish/
/backend/drupal/modules/devel/
/backend/drupal/sites/default/files/
/conf.yml
/install.log
/npm-debug.log
Thumbs.db
ignore/
node_modules/
ui/public/*
!ui/public/styleguide/
