!/public/package.json
!/source/_static/node_modules/
.*.swp
.DS_Store
.publish/
/.timestamp
/backend/drupal/sites/default/files/
/conf.yml
/install.log
/npm-debug.log
/package-lock.json
/public/*
ignore/
node_modules/
