.*.swp
.DS_Store
.publish/
/backend/drupal/modules/devel/
/backend/drupal/sites/default/files/
/conf.yml
!/excludes/extend/node_modules/
/extend/
/install.log
/npm-debug.log
Thumbs.db
ignore/
node_modules/
patternlab-node/patternlab-config.json
patternlab-node/public/*
!patternlab-node/public/data/annotations.js
!patternlab-node/public/styleguide/
