// Colors
$gray = gray
$gray-light = #f9f9f9
$gray-light-2 = #eeeeee
$gray-light-3 = #dddddd
$gray-light-4 = #bbbbbb
$gray-med = #666666
$gray-dark = #333333
$gray-dark-2 = #131313
$white = white
$black = black

$dim = rgba(0, 0, 0, 0.5)
$dimmer = rgba(0, 0, 0, 0.8)
$white-translucent = rgba(255, 255, 255, 0.95)

$error = red
$valid = #089e00

// Typography
$font-primary = Helvetica, "Nimbus Sans L", "Liberation Sans", Roboto, sans-serif

// Layout
$max-width = 1152px // Use px since this is used in a media query
$footer-height = 5rem

// Spacing
$space = 1.6rem
$space-and-half = $space * 1.5
$space-double = $space * 2
$space-triple = $space * 3
$space-quad = $space * 4
$space-half = $space / 2
$space-quarter = $space / 4

// Breakpoints
$bp-xx-max = unit(bp_xx_max, px) // From source/_scripts/src/variables.styl
$bp-xs-max = unit(bp_xs_max, px) // From source/_scripts/src/variables.styl
$bp-small = $bp-xs-max + 1px
$bp-sm-max = unit(bp_sm_max, px) // From source/_scripts/src/variables.styl
$bp-med = $bp-sm-max + 1px
$bp-md-max = unit(bp_md_max, px) // From source/_scripts/src/variables.styl

// Measurements
$nav-toggle-height = 5.4rem
$nav-toggle-n-border = $nav-toggle-height + 0.1rem
$column-width-narrow = (100% / 3)
$column-width-wide = 2 * $column-width-narrow
$footer-menu-height = 2.8rem
