// Clearfix
.cf
  &::before, &::after
    content: " "
    display: table
  &::after
    clear: both
// Layout Container
.lc
  clear: both
  max-width: $max-width
  margin: 0 auto
  padding: $space-half
// Completely remove from the flow but leave available to screen readers.
.visually-hidden
  position: absolute !important
  overflow: hidden
  width: 1px
  height: 1px
  padding: 0
  border: 0
  clip: rect(1px, 1px, 1px, 1px)

// ////////////////////////////////////////////////////////////////////////////////////
// Stylus autoprefixing mixins
//
// Use
//   transform: translateX(10px) rotate(10deg) translateY(5px)
//
// These mixins can be safely updated or removed as vendor prefixes become unnecessary.
// ////////////////////////////////////////////////////////////////////////////////////
transform()
  -webkit-transform: arguments
  -moz-transform: arguments
  -ms-transform: arguments
  -o-transform: arguments
  transform: arguments
transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: arguments
  -o-transition: arguments
  transition: arguments
