// Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
html
  box-sizing: border-box
*,
*::before,
*::after
  box-sizing: inherit
html,
body,
div,
object,
iframe,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure
  margin: 0
  padding: 0
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
  display: block
// Common browser defaults, but explicitly declared in case of uncommon browsers.
h1,
h2,
h3,
h4,
h5,
h6
  line-height: 1.5
h1
  font-size: 2em
  margin: 0.67em 0
h2
  font-size: 1.5em
  margin: 0.83em 0
h3
  font-size: 1.17em
  margin: 1em 0
h4
  font-size: 1em
  margin: 1.33em 0
h5
  font-size: 0.83em
  margin: 1.67em 0
h6
  font-size: 0.67em
  margin: 2.33em 0
p
  margin: 1em 0
