// Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
html
  box-sizing: border-box
*,
*::before,
*::after
  box-sizing: inherit
html,
body,
div,
object,
iframe,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure
  margin: 0
  padding: 0
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
  display: block
