html
  font-size: (100 / 1.6)%
body
  background: $white
  font: 1.6em/1.5 $font-primary
  -webkit-text-size-adjust: 100%
  color: $gray-dark
  min-width: $bp-xx-max
  min-height: 100vh
  padding-bottom: $footer-height
  position: relative
  @media all and (max-width: $bp-sm-max)
    font-size: 1.4em
aside
  margin-bottom: $space
// Completely remove from the flow and screen readers.
.hidden
  display: none !important
  visibility: hidden !important
// Floats
.right
  float: right
  padding: 0 0 $space $space
.right-search
  float: right
  padding: 0 0 $space 0
.left
  float: left
  padding: 0 $space $space 0
// Text-align
.align-right
  text-align: right
.align-center
  text-align: center
.align-left
  text-align: left
// Hide elements in print view
@media print
  header.header,
  form,
  footer[role="contentinfo"]
    display: none
