header.header
  background: $white
  border-bottom: 1px solid $gray-light-2
  padding: 0
  @media all and (max-width: $bp-sm-max)
    margin: 0
    padding-left: $space-half
  @media all and (min-width: $bp-med)
    width: "calc(100% - %s)" % $space
  @media all and (min-width: $max-width)
    width: "calc(%s - %s)" % ($max-width $space)
#region-header
  margin: $space-half 0 0
  padding-right: $space-half
  @media all and (min-width: $bp-med)
    float: left
// Need to lower specificity with an attribute match so these don't override other selections by attribute match.
[id="region-primary-menu"],
[id="region-secondary-menu"]
  margin-top: $space-half
[id="region-secondary-menu"]
  float: right
[id^="block-"][id*="-search"],
[id^="block-"][id*="-main"]
  > h2
    line-height: 1
    margin: 0
    padding: 0
    a
      color: transparent
[id^="block-"][id*="-search"] > h2
  font-size: 0
[id^="block-"][id*="-main"] > h2
  font-size: $space-half
// Use more general matching to select blocks with the word "branding" in the name, i.e. do not include a hyphen along
// with "branding". This is to select both custom blocks as well as the system branding block.
[id^="block-"][id*="branding"]
  h1,
  p
    margin: 0
    padding: 0
  > div
    > a,
    > h1:first-child a,
    > p:first-child a
      display: table
    > a,
    > h1,
    > p
      &:first-child
        @media all and (min-width: $bp-med)
          display: inline-block
  @media all and (min-width: $bp-med)
    img
      margin-right: $space-quarter
    > div:last-child
      margin-right: $space-half
// Search Form
[id^="block-"][id*="-search"]
  float: right
  margin-left: 7rem
  .path-search &
    display: none
  [id="region-secondary-menu"] &
    margin-left: 0
// Main Navigation
[id^="block-"][id*="-main"]
  @media all and (max-width: $bp-xs-max)
    > ul
      clear: both
// General Navigation
nav,
[id^="block-"][id$="-local-tasks"]
  li
    float: left
    padding-right: 1em
// Override nav padding.
[id^="block-"][id*="-account"]
  @media all and (min-width: $bp-med)
    li:last-child
      padding-right: 0
#region-breadcrumb,
#breadcrumb
  li
    padding-right: 0
