header.header
  background: $white
  border-bottom: 1px solid $gray-light-2
  padding: 0
  @media all and (max-width: $bp-sm-max)
    margin: 0
    padding-left: $space-half
  @media all and (min-width: $bp-med)
    padding-top: $space-half
    width: "calc(100% - %s)" % $space
  @media all and (min-width: $max-width)
    width: "calc(%s - %s)" % ($max-width $space)
#region-header
  float: left
  margin: $space-half $space-half 0 0
  @media all and (min-width: $bp-med)
    float: left
    margin: 0
// Need to lower specificity with an attribute match so these don't override other selections by attribute match.
[id="region-primary-menu"],
[id="region-secondary-menu"],
#region-header [id^="block-"][id$="-footer"]
  a
    display: block
    padding-top: 0.2rem
    padding-bottom: 0.2rem
[id="region-primary-menu"],
[id="region-secondary-menu"]
  @media all and (max-width: $bp-sm-max)
    margin: 0
  @media all and (min-width: $bp-med)
    margin-bottom: $space-half
    li
      padding-left: 1em
    nav
      > ul
        display: flex
        flex-wrap: wrap
        align-items: center
    .expanded
      > a::after
        content: "▼"
        font-size: 0.75em
        margin-left: $space-half
      ul
        li
          float: none
          border: 1px solid $gray-light-1
          border-bottom: 0
          padding-right: 1.2rem
          padding-left: 1.2rem
          &:last-child
            border-bottom: 1px solid $gray-light-1
      &:hover
        ul
          max-height: 100%
    nav > ul > .expanded > ul
      background: $white-translucent
      max-height: 0
      position: absolute
      overflow: hidden
      transition: max-height 0.3s ease
      z-index: 2
      > .expanded
        li
          border-right: 0
          border-bottom: 0
          border-left: 0
[id="region-primary-menu"]
  display: flex
  align-items center
  float: left
  @media all and (max-width: $bp-sm-max)
    float: right
  @media all and (min-width: $bp-med)
    margin-top: $space-half
[id="region-secondary-menu"]
  float: right
#region-secondary-menu [id^="block-"][id*="-search"],
[id^="block-"][id*="-main"],
[id^="block-"][id*="-account"]
  > h2
    margin: 0
    z-index: 3
    > a
      background: $white-translucent
      color: transparent
      cursor: pointer
      overflow: hidden
      padding: 1rem
      pointer-events: auto
      position: relative
      width: 4.3rem
      height: 4.3rem
      &:active
        background-color: $gray-light-1
      &::before
        background-size: cover
        content: ""
        display: block
        padding: 1.1rem
      &:hover::before,
      &:focus::before
        filter: invert(50%)
  @media all and (max-width: $bp-sm-max)
    position: static // In order for the mobile nav to work while logged in.
  @media all and (min-width: $bp-med)
    > h2
      display: none
[id^="block-"][id*="-main"],
[id^="block-"][id*="-account"]
  @media all and (max-width: $bp-sm-max)
    > ul
      background: $white-translucent
      max-height: 0
      overflow: hidden
      position: absolute
      transition: max-height 0.1s ease
      top: $nav-toggle-n-border
      left: 0
      width: 100%
      z-index: 4
    li
      float: none
      padding-right: 0
      a
        border-bottom: 1px solid $gray-light-2
        padding: 0.7rem $space
        &:active
          background-color: $gray-light-1
      li
        padding-left: 1.2rem
    &.open
      > ul
        max-height: none
// Search form.
#region-secondary-menu [id^="block-"][id*="-search"]
  > h2 > a
    &::before
      background-image: url("../../_assets/src/icon-search.svg")
// Main navigation.
[id^="block-"][id*="-main"]
  > h2 > a
    &::before
      background-image: url("../../_assets/src/icon-menu.svg")
// User account menu.
[id^="block-"][id*="-account"]
  margin-top: $space-half
  > h2 > a
    &::before
      background-image: url("../../_assets/src/icon-avatar.svg")
  @media all and (max-width: $bp-sm-max)
    margin-top: 0
    > ul
      text-align: right
[id^="block-"]
  > h2 > a
    pointer-events: none
[id^="block-"][id*="-search"] > h2
  font-size: 0
[id^="block-"][id*="-main"] > h2
  font-size: $space-half
// Use more general matching to select blocks with the word "branding" in the name, i.e. do not include a hyphen along
// with "branding". This is to select both custom blocks as well as the system branding block.
[id^="block-"][id*="branding"]
  h1,
  p
    margin: 0
    padding: 0
  > div
    > a,
    > h1:first-child a,
    > p:first-child a
      display: table
    > a,
    > h1,
    > p
      &:first-child
        @media all and (min-width: $bp-med)
          display: inline-block
  @media all and (min-width: $bp-med)
    img
      margin-right: $space-half
// Search Form
[id^="block-"][id*="-search"]
  float: right
  margin-left: 7rem
  .path-search &
    display: none
  [id="region-secondary-menu"] &
    margin-left: 0
// Main Navigation
[id^="block-"][id*="-main"]
  @media all and (max-width: $bp-xs-max)
    > ul
      clear: both
// General Navigation
nav li
  padding-right: 1em
// Override nav padding.
#region-breadcrumb,
#breadcrumb
  li
    padding-right: 0
