#main,
.layout-container > *:not(footer),
.layout-container > footer > *
  @extend .lc
#main
  @extend .cf
  padding: $space-half
  overflow: hidden
.layout-content
  @extend .cf
.layout-sidebar-first,
.layout-sidebar-second
  .views-field-title
    @media all and (max-width: $bp-sm-max)
      font-size: 1em
      font-weight: normal
.layout-sidebar-second
  li
    padding: 0.25em 0
    border-top: 1px solid $gray-light-2
    > *
      display: block
