footer[role="contentinfo"]
  background: $gray-dark-1
  color: $white
  overflow: hidden
  height: $footer-height
  line-height: 1.2
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  a
    color: $gray-light
#region-footer
  height: 100%
