footer[role="contentinfo"]
  clear: both
  overflow: hidden
  background: $gray-dark-2
  color: $white
  height: $footer-height
  line-height: 1.2
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  a
    color: $gray-light
#region-footer
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  height: 100%
  > *
    padding: $space-half 0
