&lt;!-- Begin region --&gt;
{{# content? }}
  &lt;div{{{ attributes }}}&gt;
    {{# templates-region? }}
      {{{ fpo_template_content }}}
    {{/ templates-region? }}


    {{! BEGIN HEADER CONTENT }}

    {{# templates-block--header? }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; id=\&quot;block-fepper-branding\&quot;&quot;,
        &quot;elements-logo?&quot;: true
      ) }}
      {{&gt; 03-templates/_block--system-menu-block(
        &quot;block_attributes&quot;: &quot; id=\&quot;block-mainnavigation\&quot;&quot;,
        &quot;title_attributes&quot;: &quot; class=\&quot;icon-menu\&quot;&quot;,
        &quot;block_label&quot;: &quot;Main navigation&quot;,
        &quot;compounds-primary-nav?&quot;: true
      ) }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; class=\&quot;search-block-form\&quot; id=\&quot;block-searchform\&quot; role=\&quot;search\&quot;&quot;,
        &quot;title_attributes&quot;: &quot; class=\&quot;icon-search\&quot;&quot;,
        &quot;block_label&quot;: &quot;Search form&quot;,
        &quot;compounds-search?&quot;: true
      ) }}
    {{/ templates-block--header? }}

    {{! END HEADER CONTENT }}


    {{! BEGIN MAIN CONTENT }}

    {{# templates-block--main--pages-homepage? }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; id=\&quot;block-fepper-content\&quot;&quot;,
        &quot;templates-views-element-container--pages-homepage__hero?&quot;: true
      ) }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; class=\&quot;views-element-container\&quot; id=\&quot;block-views-block-content-recent-block-2\&quot;&quot;,
        &quot;templates-views-element-container--pages-homepage__touts?&quot;: true
      ) }}
    {{/ templates-block--main--pages-homepage? }}
    {{# templates-block--main--pages-blog? }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; id=\&quot;block-fepper-content\&quot;&quot;,
        &quot;templates-views-element-container--pages-blog?&quot;: true
      ) }}
    {{/ templates-block--main--pages-blog? }}
    {{# templates-block--main--pages-article? }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; id=\&quot;block-fepper-content\&quot;&quot;,
        &quot;templates-node--pages-article?&quot;: true
      ) }}
    {{/ templates-block--main--pages-article? }}

    {{! END MAIN CONTENT }}


    {{! BEGIN SIDEBAR1 CONTENT }}

    {{# templates-block--sidebar1--pages-homepage? }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; class=\&quot;views-element-container\&quot; id=\&quot;block-views-block-content-recent-block-3\&quot;&quot;,
        &quot;block_label&quot;: &quot;Latest posts&quot;,
        &quot;templates-views-element-container--pages-homepage__blog?&quot;: true
      ) }}
    {{/ templates-block--sidebar1--pages-homepage? }}

    {{! END SIDEBAR1 CONTENT }}


    {{! BEGIN SIDEBAR2 CONTENT }}

    {{# templates-block--sidebar2--pages-article? }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; class=\&quot;views-element-container\&quot; id=\&quot;block-views-block-content-recent-block-1\&quot;&quot;,
        &quot;components-related-posts?&quot;: true
      ) }}
    {{/ templates-block--sidebar2--pages-article? }}
    {{# templates-block--sidebar2? }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; class=\&quot;views-element-container\&quot; id=\&quot;block-views-block-comments-recent-block-1\&quot;&quot;,
        &quot;components-recent-comments?&quot;: true
      ) }}
    {{/ templates-block--sidebar2? }}

    {{! END SIDEBAR2 CONTENT }}


    {{! BEGIN FOOTER CONTENT }}

    {{# templates-block--footer? }}
      {{&gt; 03-templates/block(
        &quot;block_attributes&quot;: &quot; id=\&quot;block-fepperfooter\&quot;&quot;,
        &quot;components-footer?&quot;: true
      ) }}
    {{/ templates-block--footer? }}

    {{! END FOOTER CONTENT }}


  &lt;/div&gt;
{{/ content? }}
&lt;!-- End region --&gt;
