footer[role="contentinfo"]
  clear: both
  overflow: hidden
  background: $gray-dark-2
  color: $white
  height: $footer-height
  line-height: 1.2
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  a
    color: $gray-light
#block-fepperfooter
  padding-top: $space
  @extend .lc
  p
    margin-bottom: 0
    @media all and (min-width: $bp-med)
      float: right
