/* Layout Container */
.path-frontpage .layout-content
  border-bottom: 2px solid $gray-light-2
  margin-bottom: $space-double
  padding: 0 0 $pad-double
  width: 100%
  @media all and (min-width: $bp-med)
    margin-bottom: 2.0rem
  #region-content
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  /* Hero Block */
  #block-fepper-content
    margin-bottom: 0.5em
    img
      display: block
    .views-field-title
      a
        color: $white
        display: block
        font-size: 2.4rem
        font-weight: bold
        line-height: 1.2
    @media all and (max-width: $bp-xs-max)
      .views-field-title
        display: flex
        flex-flow: column nowrap
        justify-content: center
        height: 8.7rem
    @media all and (max-width: $bp-sm-max)
      .views-field-title
        background: $dimmer
        overflow: hidden
        padding: 0 $pad-half
        a
          font-size: 1.8rem
    @media all and (min-width: $bp-small) and (max-width: $bp-sm-max)
      .views-field-title
        padding-top: 19%
        .field-content
          display: block
          position: absolute
          top: 50%
          transform: translateY(-50%)
    @media all and (min-width: $bp-med)
      position: relative
      .views-field-title
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        background: $dim
        padding: 1.5em
  /* Subs Block */
  #region-content > .views-row
    margin-bottom: 0.5em
    position: relative
    .views-field-field-image
      position: relative
      z-index: 0
      img
        display: block
    .views-field-title
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      color: $white
      a
        background: rgba(0, 0, 0, 0.5)
        color: $white
        display: block
        padding: 0.5em
        font-size: 1.8rem
        font-weight: bold
        line-height: 1.2
  @media all and (max-width: $bp-sm-max)
    #region-content > .views-row
      .views-field-title
        a
          font-size: 1.7rem
.path-frontpage main[role="main"]:nth-child(3) .layout-content
  @media all and (min-width: $bp-small) and (max-width: $bp-sm-max)
    // Sizing Hero and Subs
    #block-fepper-content,
    #region-content > .views-row
      width: calc(50% - 0.4rem)
  @media all and (min-width: $bp-med)
    // Sizing just Subs
    #region-content > .views-row
      padding-top: $pad-half
      width: calc(33.3333333% - 1.0666666rem)
