#block-mainnavigation
  ul
    background: $white-translucent
  a
    display: block
  @media all and (max-width: $bp-sm-max)
    > ul
      max-height: 0
      overflow: hidden
      position: absolute
      top: 5rem
      left: 0
      z-index: 1
    li
      border-top: 1px solid $gray-light-3
      a
        display: table
        padding: $pad-half $pad
      li
        padding-left: 2rem;
    &.open
      > ul
        max-height: 100%
        width: 100%
  @media all and (min-width: $bp-med)
    border-top: 1px solid $gray-light-2
    clear: none
    float: left
    margin-top: -0.1rem
    padding-top: $pad-quarter * 3
    position: static
    width: auto
    height: auto
    li
      float: left
    a
      padding: $pad-quarter $pad
    .expanded
      > a::after
        color: $gray
        content: "▼"
        font-size: $font-size-sm
        margin-left: $space-half
      ul
        max-height: 0
        overflow: hidden
        position: absolute
        transition: max-height 0.3s ease
        z-index: 2
        li
          float: none
          border: 1px solid $gray-light-2
          border-bottom: 0
          &:last-child
            border-bottom: 1px solid $gray-light-2
      &:hover
        ul
          max-height: 100%
