<div{{{ row_attributes }}}>
  {{# templates-node--pages-homepage__hero? }}
    {{> 01-compounds/01-blocks/01-block-hero }}
  {{/ templates-node--pages-homepage__hero? }}
  {{# templates-node--pages-homepage__subs? }}
    {{> 01-compounds/01-blocks/02-inset-block }}
  {{/ templates-node--pages-homepage__subs? }}
</div>
