{{# templates-node--pages-homepage__hero? }}
  {{# hero }}
    <div{{{ row_attributes }}}>
      {{> 01-compounds/02-blocks/02-block-hero }}
    </div>
  {{/ hero }}
{{/ templates-node--pages-homepage__hero? }}
{{# templates-node--pages-homepage__subs? }}
  {{# subs }}
    <div{{{ row_attributes }}}>
      {{> 01-compounds/02-blocks/05-inset-block }}
    </div>
  {{/ subs }}
{{/ templates-node--pages-homepage__subs? }}
{{# templates-node--pages-homepage__hoagies? }}
  {{# latest_posts }}
    <li{{{ row_attributes }}}>
      {{> 03-templates/node(
        article_attributes: ' role="article" typeof="schema:Article"',
        "compounds-media-block--pages-homepage__hoagies?": true
      ) }}
    </li>
  {{/ latest_posts }}
{{/ templates-node--pages-homepage__hoagies? }}
{{# templates-node--pages-blog? }}
  {{# latest_posts }}
    <li{{{ row_attributes }}}>
      {{> 03-templates/node(
        article_attributes: ' role="article" typeof="schema:Article"',
        "compounds-media-block--pages-blog?": true
      ) }}
    </li>
  {{/ latest_posts }}
{{/ templates-node--pages-blog? }}
