{{# content? }}
{{/ content? }}
<nav role="navigation" aria-labelledby="{{ heading_id }}" {{{ block_attributes }}}>
  {{# no_label? }}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {{/ no_label? }}

  {{{ title_prefix }}}
  {{# title }}
    <h2 {{{ title_attributes }}}><a href="#">{{{ title }}}</a></h2>
  {{/ title }}
  {{{ title_suffix }}}

  {{# components-primary-nav? }}
    {{> 02-components/03-navigation/00-primary-nav }}
  {{/ components-primary-nav? }}
  {{# components-secondary-nav? }}
    {{> 02-components/03-navigation/02-secondary-nav }}
  {{/ components-secondary-nav? }}
  {{# components-breadcrumbs? }}
    {{> 02-components/03-navigation/03-breadcrumbs }}
  {{/ components-breadcrumbs? }}
  {{# components-footer-nav? }}
    {{> 02-components/03-navigation/04-footer-nav }}
  {{/ components-footer-nav? }}
  {{# templates-block? }}
    {{{ fpo_template_content }}}
  {{/ templates-block? }}
</nav>
