<!-- Begin block -->
<div {{{ block_attributes }}}>

  {{{ title_prefix }}}
  {{# title }}
    <h2 {{{ title_attributes }}}>{{{ title }}}</h2>
  {{/ title }}
  {{{ title_suffix }}}

  {{# content? }}

    {{! BEGIN HEADER }}

    {{# compounds-logo? }}
      {{> 01-compounds/01-blocks/04-logo }}
    {{/ compounds-logo? }}
    {{# compounds-search? }}
      {{> 01-compounds/02-forms/00-search }}
    {{/ compounds-search? }}

    {{! END HEADER }}


    {{! BEGIN HOMEPAGE }}

    {{# templates-container~~pages-homepage__hero? }}
      {{> 03-templates/container("templates-views-view~~pages-homepage__hero?": true) }}
    {{/ templates-container~~pages-homepage__hero? }}
    {{# templates-container~~pages-homepage__hoagies? }}
      {{> 03-templates/container("templates-views-view~~pages-homepage__hoagies?": true) }}
    {{/ templates-container~~pages-homepage__hoagies? }}

    {{! END HOMEPAGE }}


    {{! BEGIN BLOG }}

    {{# templates-container~~pages-blog? }}
      {{> 03-templates/container("templates-views-view~~pages-blog?": true) }}
    {{/ templates-container~~pages-blog? }}

    {{! END BLOG }}


    {{! BEGIN ARTICLE }}

    {{# templates-node~~pages-article? }}
      {{> 03-templates/node(
        node_attributes: ' role="article" typeof="schema:Article"',
        "view_mode_full?": true,
        "components-article?": true
      ) }}
    {{/ templates-node~~pages-article? }}
    {{# components-related-posts? }}
      {{> 02-components/01-sections/01-related-posts }}
    {{/ components-related-posts? }}
    {{# components-recent-comments? }}
      {{> 02-components/01-sections/00-recent-comments }}
    {{/ components-recent-comments? }}

    {{! END ARTICLE }}


    {{! BEGIN NEW INSTALL }}

    {{# elements-heading? }}
      {{> 00-elements/00-text/01-heading(
        heading_tag: 'h1',
        heading_attributes: ' class="js-quickedit-page-title"',
        heading_text: 'Welcome to Fepper Theme'
      ) }}
    {{/ elements-heading? }}
    {{# views-view~~pages-new-install? }}
      {{> 03-templates/views-view(
        views-view_attributes: ' class="view-id-frontpage view-display-id-page_1"',
        "pages-new-install?": true
      ) }}
    {{/ views-view~~pages-new-install? }}
    {{# compounds-powered-by? }}
      {{> 01-compounds/00-text/06-powered-by }}
    {{/ compounds-powered-by? }}

    {{! END NEW INSTALL }}


    {{! BEGIN FOOTER }}

    {{# components-footer? }}
      {{> 01-compounds/00-text/05-copyright }}
    {{/ components-footer? }}

    {{! END FOOTER }}


    {{{ fpo_template_content }}}

  {{/ content? }}

</div>
<!-- End block -->
