<!-- Begin block -->
<div{{{ block_attributes }}}>
  {{{ title_prefix }}}
  {{# title }}
    <h2{{{ title_attributes }}}>{{{ title }}}</h2>
  {{/ title }}
  {{{ title_suffix }}}
  {{# content? }}

    {{! BEGIN HEADER }}

    {{# elements-logo? }}
      {{> 00-elements/02-images/00-logo }}
    {{/ elements-logo? }}
    {{# compounds-search? }}
      {{> 01-compounds/02-forms/00-search }}
    {{/ compounds-search? }}

    {{! END HEADER }}


    {{! BEGIN HOMEPAGE }}

    {{# templates-container--pages-homepage__hero? }}
      {{> 03-templates/container("templates-views-view--pages-homepage__hero?": true) }}
    {{/ templates-container--pages-homepage__hero? }}
    {{# templates-container--pages-homepage__hoagies? }}
      {{> 03-templates/container("templates-views-view--pages-homepage__hoagies?": true) }}
    {{/ templates-container--pages-homepage__hoagies? }}

    {{! END HOMEPAGE }}


    {{! BEGIN BLOG }}

    {{# templates-container--pages-blog? }}
      {{> 03-templates/container("templates-views-view--pages-blog?": true) }}
    {{/ templates-container--pages-blog? }}

    {{! END BLOG }}


    {{! BEGIN ARTICLE }}

    {{# templates-node--pages-article? }}
      {{> 03-templates/node(
        node_attributes: ' role="article" typeof="schema:Article"',
        "view_mode_full?": true,
        "components-article?": true
      ) }}
    {{/ templates-node--pages-article? }}
    {{# components-related-posts? }}
      {{> 02-components/03-sections/01-related-posts }}
    {{/ components-related-posts? }}
    {{# components-recent-comments? }}
      {{> 02-components/03-sections/00-recent-comments }}
    {{/ components-recent-comments? }}

    {{! END ARTICLE }}


    {{! BEGIN FOOTER }}

    {{# components-footer? }}
      {{> 02-components/00-global/00-footer }}
    {{/ components-footer? }}

    {{! END FOOTER }}

    {{{ fpo_template_content }}}

  {{/ content? }}
</div>
<!-- End block -->
