<!-- Begin block -->
<div{{{ block_attributes }}}>
  {{ title_prefix }}
  {{# block_label }}
    <h2{{{ title_attributes }}}>{{ block_label }}</h2>
  {{/ block_label }}
  {{ title_suffix }}
  {{# content? }}
    {{# templates-block? }}
      {{{ fpo_template_content }}}
    {{/ templates-block? }}


    {{! BEGIN HEADER }}

    {{# elements-logo? }}
      {{> 00-elements/04-images/00-logo }}
    {{/ elements-logo? }}
    {{# compounds-search? }}
      {{> 01-compounds/04-forms/00-search }}
    {{/ compounds-search? }}

    {{! END HEADER }}


    {{! BEGIN HOMEPAGE }}

    {{# templates-views-element-container--pages-homepage__hero? }}
      {{> 03-templates/__views-element-container(
        'templates-views-view--pages-homepage__hero?': true
      ) }}
    {{/ templates-views-element-container--pages-homepage__hero? }}
    {{# templates-views-element-container--pages-homepage__touts? }}
      {{> 03-templates/__views-element-container(
        'templates-views-view--pages-homepage__touts?': true
      ) }}
    {{/ templates-views-element-container--pages-homepage__touts? }}
    {{# templates-views-element-container--pages-homepage__blog? }}
      {{> 03-templates/__views-element-container(
        'templates-views-view--pages-homepage__blog?': true
      ) }}
    {{/ templates-views-element-container--pages-homepage__blog? }}

    {{! END HOMEPAGE }}


    {{! BEGIN BLOG }}

    {{# templates-views-element-container--pages-blog? }}
      {{> 03-templates/__views-element-container(
        'templates-views-view--pages-blog?': true
      ) }}
    {{/ templates-views-element-container--pages-blog? }}

    {{! END BLOG }}


    {{! BEGIN ARTICLE }}

    {{# templates-node--pages-article? }}
      {{> 03-templates/node(
        'view_mode_full?': true,
        'components-article?': true
      ) }}
    {{/ templates-node--pages-article? }}
    {{# components-related-posts? }}
      {{> 02-components/04-sections/02-related-posts }}
    {{/ components-related-posts? }}
    {{# components-recent-comments? }}
      {{> 02-components/04-sections/01-recent-comments }}
    {{/ components-recent-comments? }}

    {{! END ARTICLE }}


    {{! BEGIN FOOTER }}

    {{# components-footer? }}
      {{> 02-components/00-global/01-footer }}
    {{/ components-footer? }}

    {{! END FOOTER }}


  {{/ content? }}
</div>
<!-- End block -->
