<article {{{ comment_attributes }}}>
  <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>

  <footer>
    {{> 00-elements/02-images/04-avatar }}
    <p>{{> 01-compounds/00-text/00-byline-commenter }}</p>

    {{# parent }}
      <p class="visually-hidden">{{{ parent }}}</p>
    {{/ parent }}

    {{! permalink }}
  </footer>

  <div {{{ content_attributes }}}>
    {{# title }}
      {{{ title_prefix }}}
      <h3 {{{ title_attributes }}}>{{{ title }}}</h3>
      {{{ title_suffix }}}
    {{/ title }}
    {{> 01-compounds/01-blocks/03-single-comment }}
    {{{ fpo_template_content }}}
  </div>
</article>
