{{# templates-views-view--pages-homepage__hero? }}
  {{> 03-templates/views-view(
    "templates-views-view-unformatted--pages-homepage__hero?": true,
    views_view_attributes: ' id="views-view-content-recent-page-2"'
  ) }}
{{/ templates-views-view--pages-homepage__hero? }}
{{# templates-views-view--pages-homepage__subs? }}
  {{> 03-templates/_views-view--content-recent--block-2(
    "templates-views-view-unformatted--pages-homepage__subs?": true
  ) }}
{{/ templates-views-view--pages-homepage__subs? }}
{{# templates-views-view--pages-homepage__hoagies? }}
  {{> 03-templates/views-view(
    "templates-views-view-list--pages-homepage__hoagies?": true,
    views_view_attributes: ' id="views-view-content-recent-block-3"'
  ) }}
{{/ templates-views-view--pages-homepage__hoagies? }}
{{# templates-views-view--pages-blog? }}
  {{> 03-templates/views-view(
    "templates-views-view-list--pages-blog?": true,
    views_view_attributes: ' class="view-content-recent view-display-id-page_1"'
  ) }}
{{/ templates-views-view--pages-blog? }}
{{{ fpo_template_content }}}
