{{# content? }}
{{/ content? }}
<!DOCTYPE html>
<html {{{ html_attributes }}}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{{ head_title }}}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body {{{ body_attributes }}}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{{ skip }}}
    </a>
    {{{ page_top }}}
    {{{ page }}}
    {{{ page_bottom }}}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
