<!-- Begin node -->
<article{{{ node_attributes }}}>

  {{{ title_prefix }}}
  {{# view_mode_full? }}
    <h1{{{ title_attributes }}}>
      <a href="{{ url }}" rel="bookmark">{{{ article_title }}}</a>
    </h1>
  {{/ view_mode_full? }}
  {{^ view_mode_full? }}
    <h2{{{ title_attributes }}}>
      <a href="{{ url }}" rel="bookmark">{{{ article_title }}}</a>
    </h2>
  {{/ view_mode_full? }}
  {{{ title_suffix }}}

  {{# view_mode_full? }}
    <footer>
      <div{{{ author_attributes }}}>
        By {{{ author_name }}} on {{{ date }}}
        {{{ metadata }}}
      </div>
    </footer>
  {{/ view_mode_full? }}

  <div{{{ content_attributes }}}>

    {{! BEGIN NODE CONTENT }}

    {{# compounds-block-media--pages-homepage__hoagies? }}
      {{> 01-compounds/01-blocks/02-block-media(media_attributes: ' property="text"') }}
    {{/ compounds-block-media--pages-homepage__hoagies? }}
    {{# compounds-block-media--pages-blog? }}
      {{> 01-compounds/01-blocks/02-block-media(media_attributes: ' property="schema:text"') }}
    {{/ compounds-block-media--pages-blog? }}
    {{# components-article? }}
      {{> 02-components/01-article/00-article }}
    {{/ components-article? }}

    {{! END NODE CONTENT }}

    {{{ fpo_template_content }}}
  </div>

</article>
<!-- End node -->
