{{{ twig_docblock }}}
<!-- Begin page -->
<div class="layout-container">

  <header class="header cf" role="banner">
    {{# demo_site? }}
      {{> 03-templates/region(
        region_attributes: ' id="region-header"',
        "templates-block--header?": true
      ) }}
    {{/ demo_site? }}
    {{# templates-region~~pages-new-install? }}
      {{> 03-templates/region(
        region_attributes: ' id="region-header"',
        "templates-block--header~~pages-new-install?": true
      ) }}
    {{/ templates-region~~pages-new-install? }}
    {{{ page.header }}}

    {{# demo_site? }}
      {{> 03-templates/region(
        region_attributes: ' id="region-primary-menu"',
        "templates-block--primary-menu?": true
      ) }}
    {{/ demo_site? }}
    {{# templates-region~~pages-new-install? }}
      {{> 03-templates/region(
        region_attributes: ' id="region-primary-menu"',
        "templates-block--primary-menu~~pages-new-install?": true
      ) }}
    {{/ templates-region~~pages-new-install? }}
    {{{ page.primary_menu }}}
  </header>

  {{# templates-region~~pages-new-install? }}
    {{> 03-templates/region(
      region_attributes: ' id="region-secondary-menu"',
      "templates-block--secondary-menu~~pages-new-install?": true
    ) }}
  {{/ templates-region~~pages-new-install? }}
  {{{ page.secondary_menu }}}

  {{# templates-region~~pages-new-install? }}
    {{> 03-templates/region(
      region_attributes: ' id="region-breadcrumb"',
      "templates-block--breadcrumbs~~pages-new-install?": true
    ) }}
  {{/ templates-region~~pages-new-install? }}
  {{{ page.breadcrumb }}}

  {{> 03-templates/region(
    region_attributes: ' id="region-highlighted"',
    "compounds-alert--alert?": true
  ) }}
  {{{ page.highlighted }}}

  {{{ page.help }}}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{# templates-region~~pages-homepage? }}
        {{> 03-templates/region(
          region_attributes: ' id="region-content"',
          "templates-block--main~~pages-homepage?": true
        ) }}
      {{/ templates-region~~pages-homepage? }}
      {{# templates-region~~pages-blog? }}
        {{> 03-templates/region(
          region_attributes: ' id="region-content"',
          "templates-block--main~~pages-blog?": true
        ) }}
      {{/ templates-region~~pages-blog? }}
      {{# templates-region~~pages-article? }}
        {{> 03-templates/region(
          region_attributes: ' id="region-content"',
          "templates-block--main~~pages-article?": true
        ) }}
      {{/ templates-region~~pages-article? }}
      {{# templates-region~~pages-new-install? }}
        {{> 03-templates/region(
          region_attributes: ' id="region-content"',
          "templates-block--main~~pages-new-install?": true
        ) }}
      {{/ templates-region~~pages-new-install? }}
      {{{ fpo_template_content }}}
    </div>

    {{# sidebar_first? }}
      <aside class="layout-sidebar-first {{ conditional_class }}" role="complementary">
        {{# templates-region~~pages-homepage? }}
          {{> 03-templates/region(
            region_attributes: ' id="region-sidebar-first"',
            "templates-block--sidebar1~~pages-homepage?": true
          ) }}
        {{/ templates-region~~pages-homepage? }}
        {{# templates-region~~pages-new-install? }}
          {{> 03-templates/region(
            region_attributes: ' id="region-sidebar-first"',
            "templates-block--sidebar1~~pages-new-install?": true
          ) }}
        {{/ templates-region~~pages-new-install? }}
        {{{ page.sidebar_first }}}
      </aside>
    {{/ sidebar_first? }}

    {{# sidebar_second? }}
      <aside class="layout-sidebar-second" role="complementary">
        {{# templates-region~~pages-article? }}
          {{> 03-templates/region(
            region_attributes: ' id="region-sidebar-second"',
            "templates-block--sidebar2~~pages-article?": true
          ) }}
        {{/ templates-region~~pages-article? }}
        {{> 03-templates/region(
          region_attributes: ' id="region-sidebar-second"',
          "templates-block--sidebar2?": true
        ) }}
        {{{ page.sidebar_second }}}
      </aside>
    {{/ sidebar_second? }}

  </main>

  {{# footer? }}
    <footer role="contentinfo">
      {{> 03-templates/region(
        region_attributes: ' id="region-footer"',
        "templates-block--footer?": true
      ) }}
      {{{ page.footer }}}
    </footer>
  {{/ footer? }}

</div>
<!-- End page -->
