<!-- Begin page -->
<div{{{ page_attributes }}}>

  <header class="header cf" role="banner">
    {{> 03-templates/region('templates-block--header?': true) }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{# emergency }}
    {{> 01-compounds/07-messaging/00-alert }}
  {{/ emergency }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{# templates-page? }}
        {{{ fpo_template_content }}}
      {{/ templates-page? }}
      {{# templates-region--pages-homepage? }}
        {{> 03-templates/region('templates-block--main--pages-homepage?': true) }}
      {{/ templates-region--pages-homepage? }}
      {{# templates-region--pages-blog? }}
        {{> 03-templates/region('templates-block--main--pages-blog?': true) }}
      {{/ templates-region--pages-blog? }}
      {{# templates-region--pages-article? }}
        {{> 03-templates/region('templates-block--main--pages-article?': true) }}
      {{/ templates-region--pages-article? }}
    </div>

    {{# sidebar_first? }}
      <aside class="layout-sidebar-first" role="complementary">
        {{# templates-region--pages-homepage? }}
          {{> 03-templates/region('templates-block--sidebar1--pages-homepage?': true) }}
        {{/ templates-region--pages-homepage? }}
      </aside>
    {{/ sidebar_first? }}

    {{# sidebar_second? }}
      <aside class="layout-sidebar-second" role="complementary">
        {{# templates-region--pages-article? }}
          {{> 03-templates/region('templates-block--sidebar2--pages-article?': true) }}
        {{/ templates-region--pages-article? }}
        {{> 03-templates/region('templates-block--sidebar2?': true) }}
      </aside>
    {{/ sidebar_second? }}

  </main>

  {{# footer? }}
    <footer role="contentinfo">
      {{> 03-templates/region('templates-block--footer?': true) }}
    </footer>
  {{/ footer? }}

</div>
<!-- End page -->
