<!-- Begin page -->
<div{{{ page_attributes }}}>

  <header class="header cf" role="banner">
    {{> 03-templates/region(
      "templates-block--header?": true,
      region_attributes: ' id="region-header"'
    ) }}
    {{{ page.header }}}
  </header>

  {{{ page.primary_menu }}}
  {{{ page.secondary_menu }}}

  {{{ page.breadcrumb }}}

  {{# emergency }}
    {{> 01-compounds/04-messaging/00-alert }}
  {{/ emergency }}

  {{{ page.help }}}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{# templates-region--pages-homepage? }}
        {{> 03-templates/region(
          "templates-block--main--pages-homepage?": true,
          region_attributes: ' id="region-content"'
        ) }}
      {{/ templates-region--pages-homepage? }}
      {{# templates-region--pages-blog? }}
        {{> 03-templates/region(
          "templates-block--main--pages-blog?": true,
          region_attributes: ' id="region-content"'
        ) }}
      {{/ templates-region--pages-blog? }}
      {{# templates-region--pages-article? }}
        {{> 03-templates/region(
          "templates-block--main--pages-article?": true,
          region_attributes: ' id="region-content"'
        ) }}
      {{/ templates-region--pages-article? }}
      {{{ fpo_template_content }}}
    </div>

    {{# sidebar_first? }}
      <aside class="layout-sidebar-first {{ conditional_class }}" role="complementary">
        {{# templates-region--pages-homepage? }}
          {{> 03-templates/region(
            "templates-block--sidebar1--pages-homepage?": true,
            region_attributes: ' id="region-sidebar-first"'
          ) }}
        {{/ templates-region--pages-homepage? }}
        {{{ page.sidebar_first }}}
      </aside>
    {{/ sidebar_first? }}

    {{# sidebar_second? }}
      <aside class="layout-sidebar-second" role="complementary">
        {{# templates-region--pages-article? }}
          {{> 03-templates/region(
            "templates-block--sidebar2--pages-article?": true,
            region_attributes: ' id="region-sidebar-second"'
          ) }}
        {{/ templates-region--pages-article? }}
        {{> 03-templates/region(
          "templates-block--sidebar2?": true,
          region_attributes: ' id="region-sidebar-second"'
        ) }}
        {{{ page.sidebar_second }}}
      </aside>
    {{/ sidebar_second? }}

  </main>

  {{# footer? }}
    <footer role="contentinfo">
      {{> 03-templates/region(
        "templates-block--footer?": true,
        region_attributes: ' id="region-footer"'
      ) }}
      {{{ page.footer }}}
    </footer>
  {{/ footer? }}

</div>
<!-- End page -->
