{{{ twig_docblock }}}
<!-- Begin region -->
{{# content? }}
  <div {{{ region_attributes }}}>

    {{! BEGIN HEADER CONTENT }}

    {{# templates-block--header~~pages-new-install? }}
      {{> 03-templates/_block--system-menu-block(
        heading_id: 'block-fepper-sub-footer-menu',
        block_attributes: ' id="block-fepper-sub-footer"',
        title_attributes: ' id="block-fepper-sub-footer-menu"',
        title: 'Footer menu',
        "components-footer-nav?": true
      ) }}
    {{/ templates-block--header~~pages-new-install? }}
    {{# templates-block--header? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-branding"',
        "compounds-logo?": true
      ) }}
    {{/ templates-block--header? }}
    {{# templates-block--header~~pages-new-install? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-branding"',
        "compounds-logo~~pages-new-install?": true
      ) }}
    {{/ templates-block--header~~pages-new-install? }}
    {{# templates-block--header~~pages-new-install? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-powered" role="complementary"',
        "compounds-powered-by?": true
      ) }}
    {{/ templates-block--header~~pages-new-install? }}

    {{! END HEADER CONTENT }}


    {{! BEGIN PRIMARY MENU CONTENT }}

    {{# templates-block--primary-menu? }}
      {{> 03-templates/_block--system-menu-block(
        heading_id: 'block-fepper-sub-main-menu-menu',
        block_attributes: ' id="block-fepper-sub-main-menu"',
        title_attributes: ' id="block-fepper-sub-main-menu-menu"',
        title: 'Main navigation',
        "components-primary-nav?": true
      ) }}
    {{/ templates-block--primary-menu? }}
    {{# templates-block--primary-menu~~pages-new-install? }}
      {{> 03-templates/_block--system-menu-block(
        heading_id: 'block-fepper-sub-main-menu-menu',
        block_attributes: ' id="block-fepper-sub-main-menu"',
        title_attributes: ' id="block-fepper-sub-main-menu-menu"',
        title: 'Main navigation',
        "components-primary-nav?": true
      ) }}
    {{/ templates-block--primary-menu~~pages-new-install? }}

    {{! END PRIMARY MENU CONTENT }}


    {{! BEGIN SECONDARY MENU CONTENT }}

    {{# templates-block--secondary-menu? }}
      {{> 03-templates/block(
        block_attributes: ' class="search-block-form" id="block-fepper-sub-search" role="search"',
        title: 'Search',
        "compounds-search?": true
      ) }}
    {{/ templates-block--secondary-menu? }}
    {{# templates-block--secondary-menu~~pages-new-install? }}
      {{> 03-templates/_block--system-menu-block(
        heading_id: 'block-fepper-sub-account-menu-menu',
        block_attributes: ' id="block-fepper-sub-account-menu"',
        title_attributes: ' id="block-fepper-sub-account-menu-menu"',
        title: 'User account menu',
        "components-secondary-nav?": true
      ) }}
    {{/ templates-block--secondary-menu~~pages-new-install? }}

    {{! END SECONDARY MENU CONTENT }}


    {{! BEGIN BREADCRUMBS CONTENT }}

    {{# templates-block--breadcrumbs~~pages-new-install? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-breadcrumbs"',
        "components-breadcrumbs?": true
      ) }}
    {{/ templates-block--breadcrumbs~~pages-new-install? }}

    {{! END BREADCRUMBS CONTENT }}


    {{! BEGIN ALERT CONTENT }}

    {{# compounds-alert--alert? }}
      {{# alert }}
        {{> 01-compounds/00-text/02-alert }}
      {{/ alert }}
    {{/ compounds-alert--alert? }}

    {{! END ALERT CONTENT }}


    {{! BEGIN MAIN CONTENT }}

    {{# templates-block--main~~pages-homepage? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-content"',
        "templates-container~~pages-homepage__hero?": true
      ) }}
      {{> 03-templates/_block--views-block--content-recent-block-2(
        "templates-container~~pages-homepage__subs?": true
      ) }}
    {{/ templates-block--main~~pages-homepage? }}
    {{# templates-block--main~~pages-blog? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-content"',
        "templates-container~~pages-blog?": true
      ) }}
    {{/ templates-block--main~~pages-blog? }}
    {{# templates-block--main~~pages-article? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-content"',
        "templates-node~~pages-article?": true
      ) }}
    {{/ templates-block--main~~pages-article? }}
    {{# templates-block--main~~pages-new-install? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-page-title"',
        "elements-heading?": true
      ) }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-content"',
        "views-view~~pages-new-install?": true
      ) }}
    {{/ templates-block--main~~pages-new-install? }}

    {{! END MAIN CONTENT }}


    {{! BEGIN SIDEBAR1 CONTENT }}

    {{# templates-block--sidebar1~~pages-homepage? }}
      {{> 03-templates/block(
        block_attributes: ' class="views-element-container" id="block-views-block-content-recent-block-3"',
        title: 'Latest posts',
        "templates-container~~pages-homepage__hoagies?": true
      ) }}
    {{/ templates-block--sidebar1~~pages-homepage? }}
    {{# templates-block--sidebar1~~pages-new-install? }}
      {{> 03-templates/block(
        block_attributes: ' class="search-block-form" id="block-fepper-sub-search" role="search"',
        title: 'Search',
        "compounds-search?": true
      ) }}
    {{/ templates-block--sidebar1~~pages-new-install? }}

    {{! END SIDEBAR1 CONTENT }}


    {{! BEGIN SIDEBAR2 CONTENT }}

    {{# templates-block--sidebar2~~pages-article? }}
      {{> 03-templates/block(
        block_attributes: ' class="views-element-container" id="block-fepper-sub-views-block-content-recent-block-1"',
        title: 'Recent posts',
        "templates-views-view~~templates-block--sidebar2__posts?": true
      ) }}
    {{/ templates-block--sidebar2~~pages-article? }}
    {{# templates-block--sidebar2? }}
      {{> 03-templates/block(
        block_attributes: ' class="views-element-container" id="block-fepper-sub-views-block-comments-recent-block-1"',
        title: 'Recent comments',
        "templates-views-view~~templates-block--sidebar2__comments?": true
      ) }}
    {{/ templates-block--sidebar2? }}

    {{! END SIDEBAR2 CONTENT }}


    {{! BEGIN FOOTER CONTENT }}

    {{# templates-block--footer? }}
      {{> 03-templates/block(
        block_attributes: ' id="block-fepper-sub-fepperfooter"',
        "components-footer?": true
      ) }}
    {{/ templates-block--footer? }}

    {{! END FOOTER CONTENT }}


    {{{ fpo_template_content }}}

  </div>
{{/ content? }}
<!-- End region -->
