{{# content? }}
{{/ content? }}
<!-- Begin views-view -->
<div{{{ views_view_attributes }}}>
  {{ title_prefix }}
  {{# title }}
    <h1>{{ title }}</h1>
  {{/ title }}
  {{ title_suffix }}

  {{# header }}
    <header>
      {{ header }}
    </header>
  {{/ header }}

  {{ exposed }}
  {{ attachment_before }}


  {{! BEGIN VIEWS ROWS }}

  {{# templates-views-view-unformatted--pages-homepage__hero? }}
    {{> 03-templates/views-view-unformatted(
      "templates-views-view-unformatted__rows--pages-homepage__hero?": true
    ) }}
  {{/ templates-views-view-unformatted--pages-homepage__hero? }}
  {{# templates-views-view-list--pages-homepage__hoagies? }}
    {{> 03-templates/views-view-list(
      views_view_list_attributes: ' class="item-list"',
      "templates-views-view-list__rows--pages-homepage__hoagies?": true
    ) }}
  {{/ templates-views-view-list--pages-homepage__hoagies? }}
  {{# templates-views-view-list--pages-blog? }}
    {{> 03-templates/views-view-list(
      views_view_list_attributes: ' class="item-list"',
      "templates-views-view-list__rows--pages-blog?": true
    ) }}
  {{/ templates-views-view-list--pages-blog? }}
  {{{ fpo_template_content }}}

  {{! END VIEWS ROWS }}


  {{ empty }}
  {{# templates-views-view-list--pages-blog? }}
    {{> 01-compounds/05-navigation/03-pagination }}
  {{/ templates-views-view-list--pages-blog? }}

  {{ attachment_after }}
  {{# templates-views-view-list--pages-homepage__hoagies? }}
    {{> 02-components/04-sections/03-more-link }}
  {{/ templates-views-view-list--pages-homepage__hoagies? }}

  {{# footer }}
    <footer>
      {{ footer }}
    </footer>
  {{/ footer }}

  {{ feed_icons }}
</div>
<!-- End views-view -->
