<!-- Begin views-view-list -->
{{# views_view_list_attributes }}
  <div{{{ views_view_list_attributes }}}>
{{/ views_view_list_attributes }}
{{# views_view_list_title }}
  <h3>{{{ views_view_list_title }}}</h3>
{{/ views_view_list_title }}

<{{ list_type }}{{ list_attributes }}>

  {{# templates-views-view-rows--pages-homepage__hoagies? }}
    {{> 03-templates/__views-view-rows("templates-node--pages-homepage__hoagies?": true) }}
  {{/ templates-views-view-rows--pages-homepage__hoagies? }}
  {{# templates-views-view-rows--pages-blog? }}
    {{> 03-templates/__views-view-rows("templates-node--pages-blog?": true) }}
  {{/ templates-views-view-rows--pages-blog? }}
  {{# templates-views-view-list? }}
    <li{{ row_attributes }}>
      {{{ fpo_template_content }}}
    </li>
  {{/ templates-views-view-list? }}

</{{ list_type }}>

{{# views_view_list_attributes }}
  </div>
{{/ views_view_list_attributes }}
<!-- End views-view-list -->
