{{{ twig_docblock }}}
{{{ twig_set_classes }}}
<!-- Begin views-view -->
<div {{{ views-view_attributes }}}>
  {{{ title_prefix }}}
  {{{ title }}}
  {{{ title_suffix }}}

  {{# header }}
    <header>
      {{{ header }}}
    </header>
  {{/ header }}

  {{{ exposed }}}
  {{{ attachment_before }}}


  {{! BEGIN VIEWS ROW CONTAINERS }}

  {{# templates-views-view-unformatted~~pages-homepage__hero? }}
    {{> 03-templates/views-view-unformatted(
      "templates-views-view-unformatted__row~~pages-homepage__hero?": true
    ) }}
  {{/ templates-views-view-unformatted~~pages-homepage__hero? }}
  {{# templates-views-view-list~~pages-homepage__hoagies? }}
    {{> 03-templates/views-view-list(
      views-view-list_attributes: ' class="item-list"',
      "templates-views-view-list__row~~pages-homepage__hoagies?": true
    ) }}
  {{/ templates-views-view-list~~pages-homepage__hoagies? }}
  {{# templates-views-view-list~~pages-blog? }}
    {{> 03-templates/views-view-list(
      views-view-list_attributes: ' class="item-list"',
      "templates-views-view-list__row~~pages-blog?": true
    ) }}
  {{/ templates-views-view-list~~pages-blog? }}
  {{# templates-views-view-list~~templates-block--sidebar2__posts? }}
    {{> 03-templates/views-view-list(
      views-view-list_attributes: ' class="item-list"',
      "templates-views-view-list__row~~templates-block--sidebar2__posts?": true
    ) }}
  {{/ templates-views-view-list~~templates-block--sidebar2__posts? }}
  {{# templates-views-view-list~~templates-block--sidebar2__comments? }}
    {{> 03-templates/views-view-list(
      views-view-list_attributes: ' class="item-list"',
      "templates-views-view-list__row~~templates-block--sidebar2__comments?": true
    ) }}
  {{/ templates-views-view-list~~templates-block--sidebar2__comments? }}
  {{{ fpo_template_content }}}

  {{! END VIEWS ROW CONTAINERS }}


  {{# pages-new-install? }}
    {{> 01-compounds/00-text/01-new-install }}
  {{/ pages-new-install? }}
  {{{ empty }}}

  {{# templates-views-view-list~~pages-blog? }}
    {{> 02-components/03-navigation/01-pagination }}
  {{/ templates-views-view-list~~pages-blog? }}

  {{{ attachment_after }}}

  {{# templates-views-view-list~~pages-homepage__hoagies? }}
    {{> 01-compounds/00-text/03-more-link }}
  {{/ templates-views-view-list~~pages-homepage__hoagies? }}

  {{# footer }}
    <footer>
      {{{ footer }}}
    </footer>
  {{/ footer }}

  {{{ feed_icons }}}
</div>
<!-- End views-view -->
