/* Block */
.block {
  overflow: hidden;

  p:last-child {
    margin-bottom: 0;
  }
}

/* Hero Block */
.front #block-fepper-content {
  margin-bottom: 0.5em;

  img {
    display: block;
  }

  .views-field-title .field-content a {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
  }

  @media all and (min-width: $bp-small-2) {
    .views-field-title .field-content {
      display: table-cell;
      width: 70%;
    }
  }
  @media all and (min-width: $bp-large) {
    position: relative;

    .views-field-title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      padding: 1.5em;

      a {
        color: $white;
      }
    }
  }
}

/* Block Thumbnail with Headline */
.block-thumb {
  display: table;
  width: 100%;
  border-collapse: collapse;

  .b-inner {
    display: table-row;
    vertical-align: top;
    overflow: hidden;
  }
}

/* Touts Block */
.front #block-views-block-content-recent-block-2 {
  margin-bottom: 0.5em;
  position: relative;

  .views-row {
    margin: 0.75em 0;
    padding: 0;
    position: relative;
  }

  .views-field-field-image {
    position: relative;
    z-index: 0;

    img {
      display: block;
    }
  }

  .views-field-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $white;

    .field-content {
      background: rgba(0, 0, 0, 0.5);
      display: block;
      padding: 0.5em;

      a {
        color: $white;
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }

  @media all and (min-width: $bp-med-begin) and (max-width: $bp-med-end) {
    margin-right: -0.5em;
    margin-left: -0.5em;

    .views-row,
    .views-field-title {
      padding: 0 0.5em;
    }
  }
  @media all and (min-width: $bp-large) {
    .views-row {
      margin: 0;

      > div {
        padding: 0.5em;
      }
    }
  }
}
