ol, ul
  margin: 0
  padding: 0
  list-style: none
.text
  ul
    list-style: disc
    margin: 0 0 $space 1.92rem
    ul
      margin-bottom: 0
  ol
    list-style: decimal
    margin: 0 0 $space 1.92rem
    ol
      margin-bottom: 0
