h1, .alpha
  line-height: 1.2
  @media all and (max-width: $bp-sm-max)
    font-size: 2.8rem
h2, .beta
  line-height: 1.2
  margin-top: 0.5em
h3, .gamma
  line-height: 1.2
h4
  font-size: $font-size-slightly-larger
  font-weight: bold
  margin-bottom: $space
p
  margin-bottom: $space
blockquote
  font-style: italic
  border-left: 1px solid $gray
  color: $gray
  padding-left: $pad
  margin-bottom: $space
a
  color: $gray-dark
  text-decoration: none
  outline: 0
  &:hover, &:focus
    color: $gray
