<!-- Begin header -->
{{> 00-elements/04-images/00-logo }}
<a href="#" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
<a href="#" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
{{> compounds-primary-nav }}
{{> compounds-search }}
<!-- End header -->
