// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/0-base/00-variables'
@import 'base/0-base/01-helpers'
@import 'base/0-base/02-reset'
@import 'base/0-base/04-global'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Element subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/00-elements/00-text'
@import 'base/00-elements/01-lists'
@import 'base/00-elements/02-images'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/01-compounds/00-text'
@import 'base/01-compounds/02-forms'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/02-components/02-comments'
@import 'base/02-components/03-navigation'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/04-pages/00-header'
@import 'base/04-pages/01-layout'
@import 'base/04-pages/02-footer'
@import 'base/04-pages/03-article'

// Only in Drupal, not Fepper.
#name-and-slogan
  float: left
  margin: 0.4em 1em
#site-name
  font-size: 2em
  font-weight: bold
  line-height: 1.2
[id^="block-"][id$="-powered"]
  display: flex
  align-items: center
  float: left
  margin: 0 1em
  min-height: $nav-toggle-height
#region-highlighted
  @extend .cf
  padding-top: 0
  padding-bottom: 0
  [role="contentinfo"]
    border-width: 1px
    border-style: solid
    margin-top: $space-half
    padding: $space-half
    a
      text-decoration: underline
  [aria-label="Status message"]
    background-color: #f8fff0
    border-color: #be7
    &, & a
      color: #234600
  [aria-label="Warning message"]
    background-color: #fffce5
    border-color: #ed5
    &, & a
      color: #840
  [aria-label="Error message"]
    background-color: #fef5f1
    border-color: #ed541d
    &, & a
      color: #f00
#region-primary-menu
  padding-bottom: 0
#region-secondary-menu
  padding-top: 0
  padding-bottom: 0
#region-primary-menu + #region-secondary-menu
  padding-top: 0
#region-breadcrumb,
#breadcrumb
  font-size: 0.75em
  font-weight: bold
[id^="block-"][id$="-local-tasks"]
  padding-top: $space
  padding-bottom: $space
  [href="/user/login"]
    @extend .visually-hidden
.no-sidebar-second
  width: 100% !important
.path-search
  h2
    margin: $space-and-half 0
  #search-form > *
    display: inline-block
  #edit-help-link
    margin-top: $space-quarter
[id^="block-"][id$="-footer"]
  @extend .cf
  clear: both
  margin-top: 0.5em
details
  padding-bottom: $space
#edit-contact label
  display: inline
[id^="block-"][id$="-tools"]
  z-index: 1
.views-field-title
  font-size: 1.5em
  font-weight: bold
@media all and (max-width: $bp-sm-max)
  .skip-link
    display: none
  .layout-sidebar-first,
  .layout-sidebar-second
    .views-field-title
      font-size: 1em
      font-weight: normal
