// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/base/variables'
@import 'partials/base/reset'
@import 'partials/base/icons'
@import 'partials/base/helpers'
@import 'partials/base/global'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Element subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/elements/text'
@import 'partials/elements/lists'
@import 'partials/elements/images'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/compounds/forms'
@import 'partials/compounds/navigation'
@import 'partials/compounds/messaging'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/components/comments'
@import 'partials/components/sections'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import 'partials/pages/layout'
@import 'partials/pages/header'
@import 'partials/pages/nav'
@import 'partials/pages/article'
@import 'partials/pages/footer'
@import 'partials/pages/homepage'

// Only in Drupal, not Fepper.
#block-fepper-branding
  a + a
    display: none
#region-highlighted
  padding: 0
  @extend .cf
#region-primary-menu
  padding-bottom: 0
#region-secondary-menu
  padding-top: $pad-and-half
#region-primary-menu + #region-secondary-menu
  padding-top: 0
#region-breadcrumb
  font-size: 0.75em
  font-weight: bold
#block-fepper-page-title
  display: none
#block-fepper-local-tasks
  padding-bottom: $pad
  a[href="/user/login"]
    display: none
.no-sidebar-second
  width: 100%
#block-fepper-search
  h2
    display: none
#block-fepper-footer
  clear: both
details
  padding-bottom: $pad
#edit-contact
  label
    display: inline
