// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/0-base/00-variables'
@import 'base/0-base/01-helpers'
@import 'sub/0-base/01-helpers'
@import 'sub/0-base/05-header'
@import 'sub/0-base/06-layout'
@import 'sub/0-base/07-footer'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'sub/01-compounds/00-text'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'sub/02-components/02-comments'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import 'sub/04-pages/00-homepage'

// Only in Drupal, not Fepper.
#site-name
  @media all and (min-width: $bp-med)
    margin-top: 0
[id^="block-"][id$="-footer"]
  #region-header &
    @media all and (min-width: $bp-med)
      margin-top: $space-half
