// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import '0-base/00-variables'
@import '0-base/01-reset'
@import '0-base/02-icons'
@import '0-base/03-helpers'
@import '0-base/04-global'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Element subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '00-elements/00-text'
@import '00-elements/01-lists'
@import '00-elements/02-images'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '01-compounds/00-text'
@import '01-compounds/02-forms'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '02-components/02-comments'
@import '02-components/03-navigation'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import '04-pages/00-header'
@import '04-pages/01-layout'
@import '04-pages/02-footer'
@import '04-pages/03-homepage'
@import '04-pages/04-article'

// Only in Drupal, not Fepper.
#block-fepper-branding
  a + a
    @extend .visually-hidden
#region-highlighted
  padding-top: 0
  padding-bottom: 0
  @extend .cf
  div[role="contentinfo"]
    border-width: 1px
    border-style: solid
    margin-top: $space-half
    padding: $space-half
    a
      text-decoration: underline
  div[aria-label="Status message"]
    background-color: #f8fff0
    border-color: #be7
    &, & a
      color: #234600
  div[aria-label="Warning message"]
    background-color: #fffce5
    border-color: #ed5
    &, & a
      color: #840
  div[aria-label="Error message"]
    background-color: #fef5f1
    border-color: #ed541d
    &, & a
      color: #f00
#region-primary-menu
  padding-bottom: 0
#region-secondary-menu
  padding-top: 0
  padding-bottom: 0
#region-primary-menu + #region-secondary-menu
  padding-top: 0
#region-breadcrumb,
#breadcrumb
  font-size: 0.75em
  font-weight: bold
#block-fepper-page-title
  width: 100%
  .path-node &
    @extend .visually-hidden
#block-fepper-local-tasks
  padding-top: $space
  padding-bottom: $space
  a[href="/user/login"]
    @extend .visually-hidden
.no-sidebar-second
  width: 100% !important
.path-search
  #search-form > *
    display: inline
  h2
    margin: $space-and-half 0
#block-fepper-search
  @extend .cf
  h2
    @extend .visually-hidden
#block-fepper-footer
  clear: both
  margin-top: 0.5em
  @extend .cf
details
  padding-bottom: $space
#edit-contact label
  display: inline
#block-fepper-tools
  z-index: 1
