.layout-container .alert-wrapper
  padding-bottom: 0
.alert
  display: block
  text-align: center
  padding: $space
  border: 1px solid $gray
  background: $gray-light
.alert-error
  color: $error
  border-color: $error
  background: #ffbebe
