form > div
  margin-bottom: 1em
form ol, form ul
  list-style: none
  margin-left: 0
fieldset
  border: 0
  padding: 0
  margin: 0
label
  display: block
  padding-bottom: $space-quarter
button, input, select, textarea
  font-family: inherit
  font-size: 100%
  margin: 0
input, textarea
  border: 1px solid $gray
  padding: $space-half 1.04rem
input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"]
  width: 25.5rem
input[type="text"], input[type="search"], input[type="url"], input[type="number"], textarea
  -webkit-appearance: none
button, input[type="submit"]
  padding: $space-half
  background-color: $gray-dark
  border: 1px solid $gray
  border-radius: 0
  color: $white
  cursor: pointer
input[type="checkbox"],
input[type="radio"]
  width: auto
  margin-right: 0.3em
input[type="search"]
  -webkit-appearance: none
  border-radius: 0
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none
textarea
  @media all and (max-width: $bp-xs-max)
    width: 100%
  @media all and (min-width: $bp-small)
    max-width: 100%
form:not(#search-block-form)
  [id^="edit-actions"]
    background-color: transparent
    color: $gray
    padding: 0
    position: relative
#search-block-form
  background-color: $white-translucent
  display: flex
  overflow: hidden
  position: relative
  .form-item-keys
    font-size: 1em
    position: relative
  input
    background-color: transparent
    height: 2.5em
    &[id^="edit-keys"]
      width: 13.5em
      @media all and (min-width: $bp-med) and (max-width: $bp-md-max)
        width: 11.4375em
    &[id^="edit-submit"]
      background: url("../../_assets/src/icon-search.svg") no-repeat 50% 45%
      background-size: 35%
      border: 1px solid $gray
      border-left: 0
      color: transparent
      padding-right: 0
      padding-left: 0
      position: relative
      width: 3.125em
      &:hover,
      &:focus
        filter: invert(50%)
      &:active
        background-color: rgba(0, 0, 0, 0.2)
  [id^="edit-actions"]
    float: left
    margin: 0
#region-secondary-menu
  #search-block-form
    .form-item-keys
      margin-bottom: 0
  @media all and (max-width: $bp-sm-max)
    padding: 0
    [id^="block-"][id*="-search"]
      #search-block-form
        max-height: 0
        position: absolute
        top: $nav-toggle-n-border
        right: 0
        z-index: 5
    [id^="block-"][id*="-search"].open
      #search-block-form
        max-height: none
