form > div
  margin-bottom: $space
form ol, form ul
  list-style: none
  margin-left: 0
fieldset
  border: 0
  padding: 0
  margin: 0
label
  display: block
  padding-bottom: $space-quarter
button, input, select, textarea
  font-family: inherit
  font-size: 100%
  margin: 0
input, textarea
  border: 1px solid $gray
  padding: $space-half 1.04rem
input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"]
  width: 25.5rem
input[type="text"], input[type="search"], input[type="url"], input[type="number"], textarea
  -webkit-appearance: none
button, input[type="submit"]
  padding: $space-half
  background: $gray-dark
  border: 1px solid $gray
  border-radius: 0
  color: $white
  cursor: pointer
input[type="checkbox"],
input[type="radio"]
  width: auto
  margin-right: 0.3em
input[type="search"]
  -webkit-appearance: none
  border-radius: 0
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none
@media all and (max-width: $bp-xs-max)
  textarea
    width: 100%
form:not(#search-block-form)
  [id^="edit-actions"]
    background: transparent
    color: $gray
    padding: 0
    position: relative
#search-block-form
  background: $white-translucent
  display: flex
  float: right
  margin: $space-half 0 0
  overflow: hidden
  position: relative
  .form-item-keys
    font-size: 1em
    margin-bottom: 0
    position: relative
    &::after
      @extend .icon-search::before
      color: $black
      position: absolute
      top: 1.2rem
      right: -3.2rem
  input
    background: transparent
    height: 4rem
    &[id=^="edit-keys"]
      width: 11.5em
    &[id^="edit-submit"]
      border: 1px solid $gray
      border-left: 0
      color: transparent
      font-size: 0.85em
      padding-right: 0
      padding-left: 0
      position: relative
      width: 5rem
      z-index: 1
      &:hover
        background: rgba(0, 0, 0, 0.3)
  [id^="edit-actions"]
    float: left
    margin: 0
@media all and (max-width: $bp-sm-max)
  #region-primary-menu
    [id^="block-"][id*="-search"]
      #search-block-form
        margin: 0.1rem 0 0
        max-height: 0
        position: absolute
        right: 0
        z-index: 2
    [id^="block-"][id*="-search"].open
      #search-block-form
        max-height: 100%
  #search-block-form
    input
      height: 3.7rem
