section[rel="schema:comment"]
  border-top: 1px solid $gray-light-3
  margin-top: 2em
  h2
    margin: $space 0 0
  article[typeof="schema:Comment"]
    padding: 0.625em 0 // Padding instead of margin so borders appear when indented.
    position: relative
    > footer
      p
        line-height: 1
        margin: 0
    > div
      .links
        margin-top: 0.25em
        margin-bottom: 0
    > footer + div
      width: calc(100% - 12em)
  article[typeof="schema:Person"]
    img
      display: block
      border: 1px solid $gray-light-2
      margin-bottom: 0.5em
      width: 6.25em
  span[rel="schema:author"]
    display: block
    font-size: 1.2rem
    line-height: 1.6rem
  footer > a
    display: block
    font-size: 0.75em
    text-decoration: underline
  [property="schema:name"]
    font-weight: bold
    text-decoration: none
  div[property="schema:text"]
    p
      margin-bottom: 0
  article[typeof="schema:Comment"]:last-of-type
    border-bottom: 1px solid $gray-light-3
  .indented
    padding-left: 0.75em
    article[typeof="schema:Comment"]
      border-left: 1px solid $gray-light-3
  > .indented
    border-top: 1px solid $gray-light-3
  @media all and (max-width: $bp-xs-max)
    $img-size-xs = 8.75rem
    article[typeof="schema:Comment"]
      display: block
      > footer
        @extend .cf
        width: 100%
        p, a
          max-width: "calc(100% - %s - 0.4rem)" % $img-size-xs
      > div
        padding-bottom: 0
        .links
          display: flex
          justify-content: flex-end
          margin: 0 $space-half 0 0
      > footer + div
        width: auto
    article[typeof="schema:Person"]
      float: left
      margin-right: 0.4rem
      img
        margin: 0
    article[typeof="schema:Person"] + p
      float: left
    div[property="schema:text"]
      margin-top: 0.4rem
    .indented
      article[typeof="schema:Comment"]
        > *
          margin-left: 0.2rem
  @media all and (min-width: $bp-small)
    article[typeof="schema:Comment"]
      display: flex
      > footer
        min-height: 11em
        width: 12em
        p,
        > a
          margin-left: 0.2rem
    span[property="schema:name"]
      &::before
        content: "\A"
        white-space: pre
      &::after
        content: "\A"
        white-space: pre
