$img-size = 5em
$meta-width = 17rem
section[rel="schema:comment"]
  border-top: 1px solid $gray-light-2
  margin-top: 1.5em
  padding-top: 1em
  article[typeof="schema:Comment"]
    padding: 0.625em 0 // Padding instead of margin so borders appear when indented.
    position: relative
    > footer
      line-height: 1.6rem
      p
        margin: 0
      > a
        display: block
        font-size: 1.2rem
        text-decoration: underline
    > div
      position: relative
      .links
        display: flex
        margin-top: 0.25em
        margin-bottom: 0
        li
          padding-right: 2.6rem
  article[typeof="schema:Person"]
    img,
    svg
      display: block
      border: 1px solid $gray-light-1
      margin-bottom: 0.25em
      width: $img-size
  span[rel="schema:author"]
    font-size: 1.2rem
  [property="schema:name"]
    font-weight: bold
    text-decoration: none
  div[property="schema:text"]
    p
      margin-bottom: 0
  .indented
    border-bottom: 1px solid $gray-light-2
    border-left: 1px solid $gray-light-2
    margin-left: 0.75em
    padding-bottom: 0.5em
  @media all and (max-width: $bp-xs-max)
    article[typeof="schema:Comment"]
      > footer
        display: flex
        flex-flow: column wrap
        justify-content: center
        height: $img-size
        > p,
        > a
          width: "calc(100% - %s - %s)" % ($img-size $space-half)
      > div
        padding-bottom: 0
        .links
          justify-content: flex-end
          margin: 0 $space-half 0 0
          li:last-of-type
            padding-right: 0
    article[typeof="schema:Person"]
      margin-right: $space-half
      img,
      svg
        margin-bottom: 0
  @media all and (min-width: $bp-small)
    article[typeof="schema:Comment"]
      display: flex
      > footer
        min-height: 11em
        padding-right: $space
        width: $meta-width
      > div
        width: "calc(100% - %s)" % $meta-width
    a[property="schema:name"],
    span[property="schema:name"]
      &::before
        content: "\A"
        white-space: pre
      &::after
        content: "\A"
        white-space: pre
