$menu-margin = 1.1rem
// Need to lower specificity with an attribute match so these don't override other selections by attribute match.
#region-header [id^="block-"][id$="-footer"],
#region-secondary-menu [id^="block-"][id$="-account-menu"]
  @media all and (min-width: $bp-med)
    margin-top: $menu-margin
[id="region-primary-menu"],
[id="region-secondary-menu"],
#region-header [id^="block-"][id$="-footer"]
  a
    display: block
    padding: 0.1rem 0
[id="region-primary-menu"],
[id="region-secondary-menu"]
  @media all and (max-width: $bp-sm-max)
    margin: 0
  @media all and (min-width: $bp-med)
    li
      padding-left: 1em
    nav
      > ul
        display: flex
        flex-wrap: wrap
        align-items: center
    .expanded
      > a::after
        content: "▼"
        filter: invert(20%)
        font-size: 0.75em
        margin-left: $space-half
      ul
        li
          float: none
          border: 1px solid $gray-light-2
          border-bottom: 0
          min-width: 11rem
          padding: 0 1.2rem
          &:last-child
            border-bottom: 1px solid $gray-light-2
        a
          padding: 0.05rem 0 // This makes expanded menu horizontal borders align with header border bottom.
    nav > ul > .expanded
      &:hover > a,
      > a:focus
        + ul
          // Margin and padding must be switched from unhovered/unfocused state
          // so unexpanded items don't interfere with expanded items.
          margin-top: 0
          max-height: 100%
          padding-top: $menu-margin
      > ul
        background-color: $white-translucent
        max-height: 0
        padding-top: 0
        margin-top: $menu-margin
        overflow: hidden
        position: absolute
        transition: max-height 0.3s ease
        z-index: 2
        > .expanded li
          border-right: 0
          border-bottom: 0
          border-left: 0
[id^="block-"][id*="-main"],
[id^="block-"][id*="-account"]
  @media all and (max-width: $bp-sm-max)
    > ul
      background-color: $white-translucent
      max-height: 0
      overflow: hidden
      position: absolute
      transition: max-height 0.1s ease
      top: $nav-toggle-n-border
      left: 0
      width: 100%
      z-index: 4
    li
      float: none
      padding-right: 0
      a
        border-bottom: 1px solid $gray-light-2
        padding: 0.7rem $space
        &:active
          background-color: $gray-light-1
      li
        padding-left: 1.2rem
    &.open
      > ul
        max-height: none
[id="region-primary-menu"]
  [id^="block-"][id$="-main-menu"]
    @media all and (min-width: $bp-med)
      margin: $menu-margin 0
      > ul
        min-height: 3.4rem
.pager
  clear: both
  display: flex
  justify-content: center
  margin-bottom: 1em
  padding-top: 1em
  .pager__items
    display: flex
    flex-wrap: wrap
    justify-content: center
  .is-active
    font-weight: bold
    a
      pointer-events: none
  li
    border-right: 1px solid $gray-light-2
    float: none
    padding-right: 0
    a
      // Using padding for a tag to increase tappable area when the link is a numeral.
      padding: 0 0.75em
    &:last-child
      border: 0
  @media all and (max-width: $bp-xs-max)
    li:first-child
      a
        padding-left: 0
    li:last-child
      a
        padding-right: 0
  @media all and (min-width: $bp-med)
    justify-content: flex-start
    .pager__items
      justify-content: flex-start
