.pager
  clear: both
  display: flex
  justify-content: center
  margin-bottom: 1em
  padding-top: 1em
  .pager__items
    display: flex
    flex-wrap: wrap
    justify-content: center
  .is-active
    font-weight: bold
    a
      pointer-events: none
  li
    border-right: 1px solid $gray-light-2
    float: none
    padding-right: 0
    a
      // Using padding for a tag to increase tappable area when the link is a numeral.
      padding: 0 0.75em
    &:last-child
      border: 0
  @media all and (max-width: $bp-xs-max)
    li:first-child
      a
        padding-left: 0
    li:last-child
      a
        padding-right: 0
  @media all and (min-width: $bp-med)
    justify-content: flex-start
    .pager__items
      justify-content: flex-start
