{{# content? }}
{{/ content? }}
&lt;!-- Begin views-view --&gt;
&lt;div{{{ views_view_attributes }}}&gt;
  {{ title_prefix }}
  {{# title }}
    &lt;h1&gt;{{ title }}&lt;/h1&gt;
  {{/ title }}
  {{ title_suffix }}

  {{# header }}
    &lt;header&gt;
      {{ header }}
    &lt;/header&gt;
  {{/ header }}

  {{ exposed }}
  {{ attachment_before }}


  {{! BEGIN VIEWS ROWS }}

  {{# templates-views-view? }}
    {{{ fpo_template_content }}}
  {{/ templates-views-view? }}
  {{# templates-views-view-unformatted--pages-homepage__hero? }}
    {{&gt; 03-templates/views-view-unformatted(
      &quot;templates-views-view-rows--pages-homepage__hero?&quot;: true
    ) }}
  {{/ templates-views-view-unformatted--pages-homepage__hero? }}
  {{# templates-views-view-unformatted--pages-homepage__touts? }}
    {{&gt; 03-templates/views-view-unformatted(
      &quot;templates-views-view-rows--pages-homepage__touts?&quot;: true
    ) }}
  {{/ templates-views-view-unformatted--pages-homepage__touts? }}
  {{# templates-views-view-list--pages-homepage__blog? }}
    {{&gt; 03-templates/views-view-list(
      views_view_list_attributes: &quot; class=\&quot;item-list\&quot;&quot;,
      list_type: &quot;ul&quot;,
      &quot;templates-views-view-rows--pages-homepage__blog?&quot;: true
    ) }}
  {{/ templates-views-view-list--pages-homepage__blog? }}
  {{# templates-views-view-list--pages-blog? }}
    {{&gt; 03-templates/views-view-list(
      views_view_list_attributes: &quot; class=\&quot;item-list\&quot;&quot;,
      list_type: &quot;ul&quot;,
      &quot;templates-views-view-rows--pages-blog?&quot;: true
    ) }}
  {{/ templates-views-view-list--pages-blog? }}

  {{! END VIEWS ROWS }}


  {{ empty }}
  {{# templates-views-view-list--pages-blog? }}
    {{&gt; 01-compounds/05-navigation/03-pagination }}
  {{/ templates-views-view-list--pages-blog? }}

  {{ attachment_after }}
  {{# templates-views-view-list--pages-homepage__blog? }}
    {{&gt; 02-components/04-sections/03-more-link }}
  {{/ templates-views-view-list--pages-homepage__blog? }}

  {{# footer }}
    &lt;footer&gt;
      {{ footer }}
    &lt;/footer&gt;
  {{/ footer }}

  {{ feed_icons }}
&lt;/div&gt;
&lt;!-- End views-view --&gt;
