@media all and (max-width: $bp-xs-max)
  .layout-sidebar-second
    text-align: center
@media all and (min-width: $bp-med)
  [role="main"]
    display: flex
    justify-content: space-between
  .layout-sidebar-first,
  .layout-content
    flex-grow: 1
    padding-right: 1em
    width: $column-width-wide
  .layout-sidebar-second
    width: $column-width-narrow
    padding: 0 0 0 1em
