[id^="block-"][id$="-views-block-content-recent-block-3"],
.view-id-content_recent.view-display-id-page_1
  @extend .hoagies
  @media all and (max-width: $bp-xs-max)
    h2
      text-align: center
    article
      > [role="content"] > div
        display: flex
        justify-content: center
