// Hoagies
.hoagies
  [role="article"]
    > h2
      font-size: 2rem
  @media all and (max-width: $bp-xs-max)
    [role="article"]
      > div > div:first-of-type > a
        display: block
        max-width: 22.5rem
  @media all and (max-width: $bp-sm-max)
    [role="article"]
      > h2
        font-size: 1.7rem
  @media all and (min-width: $bp-small)
    .item-list
      margin-top: $space-quarter
    .item-list li
      clear: both
      float: left
      margin-bottom: $space
    [role="article"]
      > h2,
      [property="schema:text"],
      [property="text"]
        float: right
        margin-top: 0
        padding: 0 1.6rem
        width: $column-width-wide
      img
        float: left
        width: $column-width-narrow
