// Hoagies
.hoagies
  [role="article"]
    > h2
      font-size: 1.25em
    [property="schema:text"],
    [property="text"]
      p
        margin: 0
  @media all and (max-width: $bp-xs-max)
    [role="article"]
      > div > div:first-of-type > a
        display: block
        max-width: 22.5rem
  @media all and (min-width: $bp-small)
    [role="article"]
      width: "calc(100vw - %s)" % $space
    .item-list
      @extend .cf
      padding-top: $space-quarter
    .item-list li
      clear: both
      float: left
      margin-bottom: $space
    [role="article"]
      > h2,
      [property="schema:text"],
      [property="text"]
        float: right
        margin-top: 0
        padding: 0 1.6rem
        width: $column-width-three-quarters + "%"
      img
        float: left
        width: $column-width-one-quarter + "%"
  @media all and (min-width: $bp-med) and (max-width: $bp-md-max)
    [role="article"]
      width: "%svw" % $column-width-two-thirds
  @media all and (min-width: $bp-large) and (max-width: $max-width)
    [role="article"]
      width: "%svw" % $column-width-three-quarters
  @media all and (min-width: $max-width)
    [role="article"]
      width: ($column-width-three-quarters / 100) * $max-width
