#region-header
  float: left
// Search and Navigation Forms
// Need to lower specificity with an attribute match so these don't override other selections by attribute match.
[id="region-primary-menu"],
[id="region-secondary-menu"]
  li
    float: none
  a
    display: block
    padding-top: 0.2rem
    padding-bottom: 0.2rem
  @media all and (min-width: $bp-med)
    li
      padding-left: 1em
    nav
      > ul
        display: flex
        flex-wrap: wrap
        align-items: center
    .expanded
      > a::after
        color: $gray
        content: "▼"
        font-size: 0.75em
        margin-left: $space-half
      ul
        li
          float: none
          border: 1px solid $gray-light-1
          border-bottom: 0
          &:last-child
            border-bottom: 1px solid $gray-light-1
      &:hover
        ul
          max-height: 100%
    nav > ul > .expanded > ul
      background: $white-translucent
      max-height: 0
      margin-left: $space
      position: absolute
      overflow: hidden
      transition: max-height 0.3s ease
      z-index: 2
      > .expanded
        li
          border-right: 0
          border-bottom: 0
          border-left: 0
          padding-right: 1.2rem
          padding-left: 1.2rem
[id="region-primary-menu"]
  display: flex
  align-items center
  float: left
  margin: 1.4rem 0
  @media all and (max-width: $bp-sm-max)
    float: right
    margin: 0
[id="region-secondary-menu"]
  nav
    float: right
  @media all and (max-width: $bp-sm-max)
    margin-top: 0
[id^="block-"]
  > h2 > a
    pointer-events: none
// Use more general matching to select custom blocks with the word "branding" in the name, with the intent to override
// the system block. (Do not include a hyphen in the matching criteria for "branding".)
[id^="block-"][id*="branding"]
  @media all and (max-width: $bp-sm-max)
    img
      height: 3.8rem
#region-secondary-menu [id^="block-"][id*="-search"],
[id^="block-"][id*="-main"],
[id^="block-"][id*="-account"]
  > h2
    @extend .visually-hidden
    margin: 0
    z-index: 3
    > a
      background: $white-translucent
      border-left: 1px solid $gray-light-2
      color: transparent
      cursor: pointer
      width: $nav-toggle-n-border
      height: $nav-toggle-height
      overflow: hidden
      padding: $space
      pointer-events: auto
      position: relative
      &:active
        background-color: $gray-light-1
      &::before
        background-size: cover
        content: ""
        display: block
        padding: 1.1rem
    @media all and (max-width: $bp-sm-max)
      // Undo .visually-hidden.
      overflow: visible
      position: relative !important
      width: auto
      height: auto
      clip: auto
[id^="block-"][id*="-main"],
[id^="block-"][id*="-account"]
  @media all and (max-width: $bp-sm-max)
    position: static // In order for the mobile nav to work while logged in.
    > ul
      background: $white-translucent
      max-height: 0
      overflow: hidden
      position: absolute
      transition: max-height 0.1s ease
      left: 0
      width: 100%
      z-index: 4
    li
      border-top: 1px solid $gray-light-2
      float: none
      padding-right: 0
      a
        padding: 0.7rem $space
        &:active
          background-color: $gray-light-1
      li
        padding-left: 1.2rem
    &.open
      > ul
        border-bottom: 1px solid $gray-light-2
        max-height: none
// Search form.
#region-secondary-menu [id^="block-"][id*="-search"]
  > h2 > a
    &::before
      background-image: url("../../_assets/src/icon-search.svg")
// Main navigation.
[id^="block-"][id*="-main"]
  > h2 > a
    &::before
      background-image: url("../../_assets/src/icon-menu.svg")
  @media all and (min-width: $bp-med)
    li:first-child
      padding-left: 0
// User account menu.
[id^="block-"][id*="-account"]
  margin-top: 0.6rem
  > h2 > a
    &::before
      background-image: url("../../_assets/src/icon-avatar.svg")
  @media all and (max-width: $bp-sm-max)
    margin-top: 0
    position: static // In order for the mobile nav to work while logged in.
    > ul
      text-align: right
