// Need to lower specificity with an attribute match so these don't override other selections by attribute match.
#region-secondary-menu [id^="block-"][id*="-search"],
[id^="block-"][id*="-main"],
[id^="block-"][id*="-account"]
  > h2 > a
    border-left: 1px solid $gray-light-2
// Use more general matching to select custom blocks with the word "branding" in the name, with the intent to override
// the system block. (Do not include a hyphen in the matching criteria for "branding".)
[id^="block-"][id*="branding"]
  @media all and (max-width: $bp-sm-max)
    img
      height: 3.8rem
