@media all and (max-width: $bp-xs-max)
  .layout-sidebar-second
    text-align: center
@media all and (min-width: $bp-med)
  #main
    display: flex
    justify-content: space-between
  .layout-content,
  .layout-sidebar-first
    flex-grow: 1
    width: $column-width-two-thirds
  .layout-sidebar-second
    width: $column-width-one-third
    padding: 0 0 0 $space
@media all and (min-width: $bp-large)
  .layout-content
    width: $column-width-three-quarters
  .layout-sidebar-second
    width: $column-width-one-quarter
