[id^="block-"][id$="-fepperfooter"]
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between
  height: 100%
  > div
    width: 100%
  p
    margin: 0
  @media all and (max-width: $bp-xs-max)
    text-align: center
  @media all and (min-width: $bp-med)
    text-align: right
