&lt;!-- Begin page --&gt;
&lt;div{{{ page_attributes }}}&gt;

  &lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
    {{&gt; 03-templates/region(&quot;templates-block--header?&quot;: true) }}
  &lt;/header&gt;

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{# emergency }}
    {{&gt; 01-compounds/07-messaging/00-alert }}
  {{/ emergency }}

  {{ page.help }}

  &lt;main role=&quot;main&quot;&gt;
    &lt;a id=&quot;main-content&quot; tabindex=&quot;-1&quot;&gt;&lt;/a&gt;

    &lt;div class=&quot;layout-content&quot;&gt;
      {{# templates-page? }}
        {{{ fpo_template_content }}}
      {{/ templates-page? }}
      {{# templates-region--pages-homepage? }}
        {{&gt; 03-templates/region(&quot;templates-block--main--pages-homepage?&quot;: true) }}
      {{/ templates-region--pages-homepage? }}
      {{# templates-region--pages-blog? }}
        {{&gt; 03-templates/region(&quot;templates-block--main--pages-blog?&quot;: true) }}
      {{/ templates-region--pages-blog? }}
      {{# templates-region--pages-article? }}
        {{&gt; 03-templates/region(&quot;templates-block--main--pages-article?&quot;: true) }}
      {{/ templates-region--pages-article? }}
    &lt;/div&gt;

    {{# sidebar_first? }}
      &lt;aside class=&quot;layout-sidebar-first&quot; role=&quot;complementary&quot;&gt;
        {{# templates-region--pages-homepage? }}
          {{&gt; 03-templates/region(&quot;templates-block--sidebar1--pages-homepage?&quot;: true) }}
        {{/ templates-region--pages-homepage? }}
      &lt;/aside&gt;
    {{/ sidebar_first? }}

    {{# sidebar_second? }}
      &lt;aside class=&quot;layout-sidebar-second&quot; role=&quot;complementary&quot;&gt;
        {{# templates-region--pages-article? }}
          {{&gt; 03-templates/region(&quot;templates-block--sidebar2--pages-article?&quot;: true) }}
        {{/ templates-region--pages-article? }}
        {{&gt; 03-templates/region(&quot;templates-block--sidebar2?&quot;: true) }}
      &lt;/aside&gt;
    {{/ sidebar_second? }}

  &lt;/main&gt;

  {{# footer? }}
    &lt;footer role=&quot;contentinfo&quot;&gt;
      {{&gt; 03-templates/region(&quot;templates-block--footer?&quot;: true) }}
    &lt;/footer&gt;
  {{/ footer? }}

&lt;/div&gt;
&lt;!-- End page --&gt;
