<main id="scraper" class="scraper">
  <script>
    (() => {
      'use strict';

      /* We don't want these styles to be applied to any viewall. */
      /* Since CSS can't perform such negative logic, we need to use the JavaScript herein. */
      /* These styles will stop being applied to the scraper if the scrape directory is ever renamed. */
      /* However, this file and its logic are just as customizable as the naming of the scrape directory. */
      if (window.location.pathname === '/patterns/98-scrape-00-html-scraper/98-scrape-00-html-scraper.html') {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = '/fepper-core/style.css';
        link.media = 'all';
        document.getElementsByTagName('head')[0].appendChild(link);
      }
    })();
  </script>
  <script src="../../node_modules/fepper-ui/scripts/pattern/html-scraper-ajax.js"></script>
</main>
