<h2>Recent comments</h2>
<div class="views-element-container">
  <div>
    <div class="item-list">
      {{# recent_comments }}
        {{> 00-elements/01-lists/00-unordered }}
      {{/ recent_comments }}
    </div>
  </div>
</div>
