<h2>Recent posts</h2>
<div class="views-element-container">
  <div>
    <div class="item-list">
      {{# related_posts }}
        {{> 00-elements/01-lists/00-unordered }}
      {{/ related_posts }}
    </div>
  </div>
</div>
