section[rel="schema:comment"]
  border-top: 1px solid $gray-light-3
  margin-top: 2em
  h2
    margin: 0.667em 0
  article[typeof="schema:Comment"]
    padding-bottom: 1em
    overflow: hidden
    > footer
      float: left
      min-height: 9em
      width: 12em
    p
      line-height: 1
      margin: 0
  article[typeof="schema:Person"] img
    display: block
    border: 1px solid $gray-light-2
    margin-bottom: 0.5em
  span[rel="schema:author"]
    font-size: 0.75em
  span[property="schema:name"]
    font-weight: bold
    &::before
      content: "\A"
      white-space: pre
    &::after
      content: "\A"
      white-space: pre
  > article:last-of-type
    border-bottom: 1px solid $gray-light-3
