/* Clearfix */
.cf
  &::before, &::after
    content: " "
    /* 1 */
    display: table
    /* 2 */
  &::after
    clear: both
/* Layout Container */
.lc
  clear: both
  max-width: $max-width
  margin: 0 auto
  padding: $pad-half
/* CSS Transition
    Usage: transition(width,0.3s,ease-out)
 */
transition($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  -ms-transition: $transition-property $transition-time $method
  -o-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method
