// Icon Font
@font-face
  font-family: 'icons'
  src: url("fonts/icons.eot")
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg")
  font-weight: normal
  font-style: normal
.icon-font
  font-family: 'icons'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
.icon-twitter::before
  @extend .icon-font
  content: "\74"
.icon-stumbleupon::before
  @extend .icon-font
  content: "\75"
.icon-pinterest::before
  @extend .icon-font
  content: "\70"
.icon-linkedin::before
  @extend .icon-font
  content: "\69"
.icon-google-plus::before
  @extend .icon-font
  content: "\67"
.icon-search::before
  @extend .icon-font
  content: "\73"
.icon-play::before
  @extend .icon-font
  content: "\61"
.icon-menu::before
  @extend .icon-font
  content: "\21"
.icon-arrow-left::before
  @extend .icon-font
  content: "\23"
.icon-arrow-right::before
  @extend .icon-font
  content: "\24"
.icon-bubble::before
  @extend .icon-font
  content: "\25"
.icon-facebook::before
  @extend .icon-font
  content: "\66"
.icon-feed::before
  @extend .icon-font
  content: "\27"
.icon-youtube::before
  @extend .icon-font
  content: "\79"
.icon-tag::before
  @extend .icon-font
  content: "\28"
.icon-tumblr::before
  @extend .icon-font
  content: "\6d"
.icon-instagram::before
  @extend .icon-font
  content: "\22"
.icon-podcast::before
  @extend .icon-font
  content: "\26"
.icon-android::before
  @extend .icon-font
  content: "\29"
.icon-apple::before
  @extend .icon-font
  content: "\2a"
.icon-envelope::before
  @extend .icon-font
  content: "\2b"
.icon-arrow::before
  @extend .icon-font
  content: "\61"
  transform: rotate(90deg)
