/* Override user-agent heading defaults */
article, aside, nav, section
  h1
    font-size: 2em
h1, h2
  line-height: 1.2
h2
  margin-top: 0.5em
h4
  font-size: 1.1em
h5
  font-size: 1.0625em
h6
  font-size: 1em
p
  margin-bottom: $space
a
  color: $gray-dark
  text-decoration: none
  outline: 0
  &:hover, &:focus
    color: $gray
.text a,
a.text,
p a,
*[property="schema:text"] a
  text-decoration: underline
blockquote
  border-left: 1px solid $gray
  color: $gray
  padding-left: $space
  margin-bottom: $space
