<div class="views-field views-field-field-image">
  <div class="field-content">
    <a href="{{ url }}">
      {{> elements-landscape-4x3 }}
    </a>
  </div>
</div>
<div class="views-field views-field-title">
  <span class="field-content"><a href="{{ url }}">{{ headline.short }}</a></span>
</div>
