&lt;!-- Begin header --&gt;
{{&gt; 00-elements/04-images/00-logo }}
&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-search icon-search&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-menu icon-menu&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;
{{&gt; compounds-primary-nav }}
{{&gt; compounds-search }}
&lt;!-- End header --&gt;
