ol, ul
  margin: 0
  padding: 0
  list-style: none
.text ul,
.text ol,
ul.text,
ol.text,
article ul,
article ol
  margin-bottom: $space
  ul,
  ol
    margin-bottom: 0
.text ul,
.text ol,
ul.text,
ol.text,
article ul,
article ol,
[id^="block-"][id$="-tools"] ul
  margin-left: 1.2em
.text ul,
ul.text,
article ul
  list-style: disc
.text ol,
ol.text,
article ol
  list-style: decimal
