[role="main"],
.layout-container > *:not(footer)
  @extend .lc
[role="main"]
  @extend .cf
  padding: $space-half
  overflow: hidden
.layout-content
  @extend .cf
.layout-sidebar-second
  li
    padding: 0.25em 0
    border-top: 1px solid $gray-light-3
    > *
      display: block
