&lt;nav class=&quot;pager&quot; role=&quot;navigation&quot;&gt;
  &lt;h4 id=&quot;pagination-heading&quot; class=&quot;visually-hidden&quot;&gt;Pagination&lt;/h4&gt;
  &lt;ul class=&quot;pager__items js-pager__items&quot;&gt;
    &lt;li class=&quot;pager__item pager__item--first&quot;&gt;
      &lt;a href=&quot;#&quot; title=&quot;Go to first page&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;First page&lt;/span&gt;
        &lt;span aria-hidden=&quot;true&quot;&gt;&laquo; First&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pager__item pager__item--previous&quot;&gt;
      &lt;a href=&quot;#&quot; title=&quot;Go to previous page&quot; rel=&quot;prev&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Previous page&lt;/span&gt;
        &lt;span aria-hidden=&quot;true&quot;&gt;&lsaquo; Previous&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pager__item&quot;&gt;
      &lt;a href=&quot;#&quot; title=&quot;Go to page 1&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Page&lt;/span&gt;
        1
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pager__item is-active&quot;&gt;
      &lt;a href=&quot;#&quot; title=&quot;Go to page 2&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Current page&lt;/span&gt;
        2
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pager__item&quot;&gt;
      &lt;a href=&quot;#&quot; title=&quot;Go to page 3&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Page&lt;/span&gt;
        3
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pager__item&quot;&gt;
      &lt;a href=&quot;#&quot; title=&quot;Go to page 4&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Page&lt;/span&gt;
        4
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pager__item&quot;&gt;
      &lt;a href=&quot;#&quot; title=&quot;Go to page 5&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Page&lt;/span&gt;
        5
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pager__item pager__item--next&quot;&gt;
      &lt;a href=&quot;?page=1&quot; title=&quot;Go to next page&quot; rel=&quot;next&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Next page&lt;/span&gt;
        &lt;span aria-hidden=&quot;true&quot;&gt;Next &rsaquo;&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pager__item pager__item--last&quot;&gt;
      &lt;a href=&quot;?page=1&quot; title=&quot;Go to last page&quot;&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Last page&lt;/span&gt;
        &lt;span aria-hidden=&quot;true&quot;&gt;Last &raquo;&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
