form > div
  margin-bottom: $space
form ol, form ul
  list-style: none
  margin-left: 0
fieldset
  border: 0
  padding: 0
  margin: 0
label
  display: block
  padding-bottom: $space-quarter
button, input, select, textarea
  font-family: inherit
  font-size: 100%
  margin: 0
input, textarea
  border: 1px solid $gray
  padding: $pad-half 1.04rem
input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"]
  width: 25.5rem
textarea
  width: 30.4rem
input[type="text"], input[type="search"], input[type="url"], input[type="number"], textarea
  -webkit-appearance: none
button, input[type="submit"]
  padding: $pad-half
  background: $gray-dark
  border: 1px solid $gray
  color: $white
  cursor: pointer
input[type="checkbox"],
input[type="radio"]
  width: auto
  margin-right: 0.3em
input[type="search"]
  -webkit-appearance: none
  border-radius: 0
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none
#edit-actions
  background: transparent
  color: $gray
  padding: 0
  position: relative
/* Validation */
.has-error
  border-color: $error
.is-valid
  border-color: $valid
#search-block-form
  background: $white-translucent
  float: right
  margin: 0.65em 0.5em 0 0
  overflow: hidden
  position: relative
  .form-item-keys
    float: left
    font-size: 1em
    height: 2.25em
    margin-bottom: 0
    &::after
      color: $black
      content: "\73"
      position: absolute
      top: 0.6em
      right: 1em
  input
    background: transparent
    height: 3.6rem
    &[id=^="edit-keys"]
      width: 11.5em
    &[id^="edit-submit"]
      border: 1px solid $gray
      border-left: 0
      color: transparent
      font-size: 0.85em
      padding-right: 0
      padding-left: 0
      position: relative
      width: 5rem
      z-index: 1
      &:hover
        background: rgba(0, 0, 0, 0.3)
  @media all and (max-width: $bp-sm-max)
    margin: 0.1rem 0 0
    max-height: 0
    position: absolute
    top: 5rem
    right: 0
    z-index: 2
  .open &
    max-height: 100%
