&lt;section rel=&quot;schema:comment&quot;&gt;
  &lt;h2&gt;Comments&lt;/h2&gt;
  {{# listItems.five }}
    {{&gt; 03-templates/comment(&quot;comment_attributes&quot;: &quot; class=\&quot;js-comment\&quot; typeof=\&quot;schema:Comment\&quot;&quot;) }}
  {{/ listItems.five }}
  {{&gt; 01-compounds/04-forms/01-comment-form }}
&lt;/section&gt;
