.cf::before,
#block-fepper-local-tasks::before,
.layout-content::before,
main[role="main"]::before,
#region-highlighted::before,
#block-fepper-search::before,
#block-fepper-footer::before,
.cf::after,
#block-fepper-local-tasks::after,
.layout-content::after,
main[role="main"]::after,
#region-highlighted::after,
#block-fepper-search::after,
#block-fepper-footer::after {
  content: " ";
  display: table;
}
.cf::after,
#block-fepper-local-tasks::after,
.layout-content::after,
main[role="main"]::after,
#region-highlighted::after,
#block-fepper-search::after,
#block-fepper-footer::after {
  clear: both;
}
.lc,
*[role="main"],
.layout-container > *:not(footer),
#block-fepperfooter {
  clear: both;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0.8rem;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-font,
.icon-twitter::before,
.icon-stumbleupon::before,
.icon-pinterest::before,
.icon-linkedin::before,
.icon-google-plus::before,
.icon-search::before,
.icon-play::before,
.icon-menu::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.icon-bubble::before,
.icon-facebook::before,
.icon-feed::before,
.icon-youtube::before,
.icon-tag::before,
.icon-tumblr::before,
.icon-instagram::before,
.icon-podcast::before,
.icon-android::before,
.icon-apple::before,
.icon-envelope::before,
.icon-arrow::before,
#search-block-form .form-item-keys::after,
#block-searchform > h2 > a::before,
#block-mainnavigation > h2 > a::before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-twitter::before {
  content: "\74";
}
.icon-stumbleupon::before {
  content: "\75";
}
.icon-pinterest::before {
  content: "\70";
}
.icon-linkedin::before {
  content: "\69";
}
.icon-google-plus::before {
  content: "\67";
}
.icon-search::before,
#search-block-form .form-item-keys::after,
#block-searchform > h2 > a::before {
  content: "\73";
}
.icon-play::before {
  content: "\61";
}
.icon-menu::before,
#block-mainnavigation > h2 > a::before {
  content: "\21";
}
.icon-arrow-left::before {
  content: "\23";
}
.icon-arrow-right::before {
  content: "\24";
}
.icon-bubble::before {
  content: "\25";
}
.icon-facebook::before {
  content: "\66";
}
.icon-feed::before {
  content: "\27";
}
.icon-youtube::before {
  content: "\79";
}
.icon-tag::before {
  content: "\28";
}
.icon-tumblr::before {
  content: "\6d";
}
.icon-instagram::before {
  content: "\22";
}
.icon-podcast::before {
  content: "\26";
}
.icon-android::before {
  content: "\29";
}
.icon-apple::before {
  content: "\2a";
}
.icon-envelope::before {
  content: "\2b";
}
.icon-arrow::before {
  content: "\61";
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  font: 1.6em/1.5 Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #333;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 5rem;
  position: relative;
}
@media all and (max-width: 767px) {
  body {
    font-size: 1.4em;
  }
}
aside {
  margin-bottom: 1.6rem;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visually-hidden,
#block-fepper-branding a + a,
.path-node #block-fepper-page-title,
#block-fepper-local-tasks a[href="/user/login"],
#block-fepper-search h2 {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
.right {
  float: right;
  padding: 0 0 1.6rem 1.6rem;
}
.right-search {
  float: right;
  padding: 0 0 1.6rem 0;
}
.left {
  float: left;
  padding: 0 1.6rem 1.6rem 0;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
@media print {
  header.header,
  form,
  footer[role="contentinfo"] {
    display: none;
  }
}
article h1,
aside h1,
nav h1,
section h1 {
  font-size: 2em;
}
h1,
h2 {
  line-height: 1.2;
}
h2 {
  margin-top: 0.5em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.0625em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1.6rem;
}
a {
  color: #333;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:focus {
  color: #808080;
}
.text a,
a.text,
a.feed-icon,
p a,
*[property="schema:text"] a {
  text-decoration: underline;
}
blockquote {
  border-left: 1px solid #808080;
  color: #808080;
  padding-left: 1.6rem;
  margin-bottom: 1.6rem;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text ul,
.text ol,
ul.text,
ol.text,
article ul,
article ol {
  margin: 0 0 1.6rem 1.92rem;
}
.text ul ul,
.text ol ul,
ul.text ul,
ol.text ul,
article ul ul,
article ol ul,
.text ul ol,
.text ol ol,
ul.text ol,
ol.text ol,
article ul ol,
article ol ol {
  margin-bottom: 0;
}
.text ul,
ul.text,
article ul {
  list-style: disc;
}
.text ol,
ol.text,
article ol {
  list-style: decimal;
}
img,
video,
object {
  max-width: 100%;
  height: auto;
}
.layout-container .alert-wrapper {
  padding-bottom: 0;
}
.alert {
  display: block;
  text-align: center;
  padding: 1.6rem;
  border: 1px solid #808080;
  background: #f9f9f9;
}
.alert-error {
  color: #f00;
  border-color: #f00;
  background: #ffbebe;
}
.more-link {
  font-style: italic;
}
form > div {
  margin-bottom: 1.6rem;
}
form ol,
form ul {
  list-style: none;
  margin-left: 0;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
label {
  display: block;
  padding-bottom: 0.4rem;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
input,
textarea {
  border: 1px solid #808080;
  padding: 0.8rem 1.04rem;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"] {
  width: 25.5rem;
}
input[type="text"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea {
  -webkit-appearance: none;
}
button,
input[type="submit"] {
  padding: 0.8rem;
  background: #333;
  border: 1px solid #808080;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
@media all and (max-width: 480px) {
  textarea {
    width: 100%;
  }
}
#edit-actions {
  background: transparent;
  color: #808080;
  padding: 0;
  position: relative;
}
#search-block-form {
  background: rgba(255,255,255,0.95);
  float: right;
  margin: 0.8rem 0 0;
  overflow: hidden;
  position: relative;
}
#search-block-form .form-item-keys {
  float: left;
  font-size: 1em;
  margin-bottom: 0;
}
#search-block-form .form-item-keys::after {
  color: #000;
  position: absolute;
  top: 0.7em;
  right: 1.1em;
}
#search-block-form input {
  background: transparent;
  height: 4rem;
}
#search-block-form input[id=^="edit-keys"] {
  width: 11.5em;
}
#search-block-form input[id^="edit-submit"] {
  border: 1px solid #808080;
  border-left: 0;
  color: transparent;
  font-size: 0.85em;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  width: 5rem;
  z-index: 1;
}
#search-block-form input[id^="edit-submit"]:hover {
  background: rgba(0,0,0,0.3);
}
@media all and (max-width: 767px) {
  #block-searchform.open #search-block-form {
    max-height: 100%;
  }
  #block-searchform #search-block-form {
    margin: 0.1rem 0 0;
    max-height: 0;
    position: absolute;
    top: 5.4rem;
    right: 0;
    z-index: 2;
  }
  #search-block-form input {
    height: 3.7rem;
  }
}
section[rel="schema:comment"] {
  border-top: 1px solid #ddd;
  margin-top: 2em;
}
section[rel="schema:comment"] h2 {
  margin: 0.667em 0 0;
}
section[rel="schema:comment"] article[typeof="schema:Comment"] {
  display: flex;
  margin-top: 0.75em;
  padding-bottom: 0.5em;
  position: relative;
}
section[rel="schema:comment"] article[typeof="schema:Comment"] > footer {
  min-height: 11em;
  width: 12em;
}
section[rel="schema:comment"] article[typeof="schema:Comment"] > footer p {
  line-height: 1;
  margin: 0 0 0 2px;
}
section[rel="schema:comment"] article[typeof="schema:Comment"] > div {
  padding-bottom: 0.5em;
}
section[rel="schema:comment"] article[typeof="schema:Comment"] > div .links {
  margin-top: 0.25em;
  margin-bottom: 0;
}
section[rel="schema:comment"] article[typeof="schema:Comment"] > footer + div {
  width: calc(100% - 12em);
}
section[rel="schema:comment"] article[typeof="schema:Person"] img {
  display: block;
  border: 1px solid #eee;
  margin-bottom: 0.5em;
  width: 6.25em;
}
section[rel="schema:comment"] span[rel="schema:author"],
section[rel="schema:comment"] footer > a {
  font-size: 0.75em;
}
section[rel="schema:comment"] footer > a {
  display: block;
  margin-left: 2px;
  text-decoration: underline;
}
section[rel="schema:comment"] span[property="schema:name"] {
  font-weight: bold;
}
section[rel="schema:comment"] span[property="schema:name"]::before {
  content: "\A";
  white-space: pre;
}
section[rel="schema:comment"] span[property="schema:name"]::after {
  content: "\A";
  white-space: pre;
}
section[rel="schema:comment"] div[property="schema:text"] p {
  margin-bottom: 0;
}
section[rel="schema:comment"] article[typeof="schema:Comment"]:last-of-type {
  border-bottom: 1px solid #ddd;
}
section[rel="schema:comment"] .indented {
  margin-left: 0.75em;
}
section[rel="schema:comment"] .indented article[typeof="schema:Comment"] {
  border-left: 1px solid #ddd;
}
@media all and (max-width: 480px) {
  section[rel="schema:comment"] article[typeof="schema:Comment"] {
    display: block;
    overflow: hidden;
  }
  section[rel="schema:comment"] article[typeof="schema:Comment"] > footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0.5em;
    min-height: 8.75rem;
    position: relative;
    width: auto;
  }
  section[rel="schema:comment"] article[typeof="schema:Comment"] > footer p,
  section[rel="schema:comment"] article[typeof="schema:Comment"] > footer a {
    margin: 0;
    max-width: calc(100% - 8.75rem - 0.2rem);
  }
  section[rel="schema:comment"] article[typeof="schema:Comment"] > div {
    padding-bottom: 0;
  }
  section[rel="schema:comment"] article[typeof="schema:Comment"] > footer + div {
    width: auto;
  }
  section[rel="schema:comment"] span[property="schema:name"]::before {
    content: " ";
  }
  section[rel="schema:comment"] span[property="schema:name"]::after {
    content: " ";
  }
  section[rel="schema:comment"] article[typeof="schema:Person"] {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  section[rel="schema:comment"] article[typeof="schema:Person"] img {
    margin: 0;
  }
  section[rel="schema:comment"] .indented article[typeof="schema:Comment"] > * {
    margin-left: 2px;
  }
}
.pager {
  clear: both;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
.pager .pager__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pager li {
  border-right: 1px solid #eee;
  margin-right: 0;
}
.pager li:last-child {
  border: 0;
}
.pager a {
  padding: 1.6rem 1.4rem;
}
@media all and (max-width: $bp-sx-max) {
  .pager .pager__items {
    width: 18rem;
  }
}
@media all and (max-width: 767px) {
  .pager a {
    padding: 1.6rem 1rem;
  }
}
@media all and (min-width: 768px) {
  .pager {
    justify-content: flex-start;
  }
  .pager .pager__items {
    justify-content: flex-start;
  }
}
header.header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0;
}
@media all and (max-width: 767px) {
  header.header {
    margin: 0 0 0 0.8rem;
    width: calc(100% - 0.8rem);
  }
}
@media all and (min-width: 768px) and (max-width: 1152px) {
  header.header {
    width: calc(100% - 1.6rem);
  }
}
@media all and (min-width: 1152px) {
  header.header {
    width: calc(1152px - 1.6rem);
  }
}
#block-fepper-branding {
  position: relative;
  z-index: 1;
}
#block-fepper-branding img {
  float: left;
  margin: 0.8rem 0;
}
@media all and (max-width: 767px) {
  #block-fepper-branding img {
    height: 3.7rem;
  }
}
#region-primary-menu nav:not(#block-mainnavigation),
#region-secondary-menu nav:not(#block-mainnavigation) {
  float: left;
  padding-top: 1.2rem;
}
#region-primary-menu li,
#region-secondary-menu li {
  float: left;
  margin-right: 0;
}
#region-primary-menu a,
#region-secondary-menu a {
  display: block;
  padding: 0.4rem 1.6rem;
}
@media all and (min-width: 768px) {
  #region-primary-menu .expanded > a::after,
  #region-secondary-menu .expanded > a::after {
    color: #808080;
    content: "▼";
    font-size: 0.75em;
    margin-left: 0.8rem;
  }
  #region-primary-menu .expanded ul li,
  #region-secondary-menu .expanded ul li {
    float: none;
    border: 1px solid #eee;
    border-bottom: 0;
  }
  #region-primary-menu .expanded ul li:last-child,
  #region-secondary-menu .expanded ul li:last-child {
    border-bottom: 1px solid #eee;
  }
  #region-primary-menu .expanded:hover ul,
  #region-secondary-menu .expanded:hover ul {
    max-height: 100%;
  }
  #region-primary-menu nav > ul > .expanded > ul,
  #region-secondary-menu nav > ul > .expanded > ul {
    background: rgba(255,255,255,0.95);
    max-height: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease;
    -moz-transition: max-height 0.3s ease;
    -ms-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
    z-index: 2;
  }
  #region-primary-menu nav > ul > .expanded > ul > .expanded li,
  #region-secondary-menu nav > ul > .expanded > ul > .expanded li {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    padding-left: 1rem;
  }
}
#region-secondary-menu li:first-child a {
  padding-left: 0;
}
div[id^="block-"] > h2 > a,
nav[role="navigation"] > h2 > a {
  pointer-events: none;
}
#block-searchform > h2,
#block-mainnavigation > h2 {
  float: right;
  margin: 0;
  position: relative;
  z-index: 2;
}
#block-searchform > h2 > a,
#block-mainnavigation > h2 > a {
  background: rgba(255,255,255,0.95);
  border-left: 1px solid #ddd;
  color: transparent;
  cursor: pointer;
  width: 5.5rem;
  height: 5.4rem;
  overflow: hidden;
  padding: 0;
  pointer-events: auto;
  position: relative;
}
#block-searchform > h2 > a::before,
#block-mainnavigation > h2 > a::before {
  color: #333;
  display: block;
  font-size: 2.1rem;
  padding: 1.7rem 1.6rem 1.6rem;
}
#block-searchform > h2 > a:hover::before,
#block-mainnavigation > h2 > a:hover::before,
#block-searchform > h2 > a:focus::before,
#block-mainnavigation > h2 > a:focus::before {
  color: #808080;
}
@media all and (min-width: 768px) {
  #block-searchform > h2 > a,
  #block-mainnavigation > h2 > a {
    display: none;
  }
}
#block-searchform {
  float: right;
}
nav li,
#block-fepper-local-tasks li {
  float: left;
  margin-right: 1em;
}
#block-mainnavigation a {
  display: block;
}
@media all and (max-width: 767px) {
  #block-mainnavigation > ul {
    background: rgba(255,255,255,0.95);
    border-bottom: 1px solid #ddd;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #block-mainnavigation li {
    border-top: 1px solid #ddd;
    float: none;
    margin-right: 0;
  }
  #block-mainnavigation li a {
    display: table;
    padding: 0.8rem 1.6rem;
  }
  #block-mainnavigation li li {
    padding-left: 2rem;
  }
  #block-mainnavigation.open > ul {
    max-height: 100%;
    padding-top: 5.4rem;
    width: 100%;
  }
}
@media all and (min-width: 768px) {
  #block-mainnavigation {
    border-top: 1px solid #ddd;
    display: inline-block;
    margin-top: -0.1rem;
    padding-top: 1.2rem;
    position: static;
    width: auto;
    height: auto;
  }
}
.layout-sidebar-second h2 {
  padding: 0 0 0.5em;
}
.layout-sidebar-second li {
  padding: 0.25em 0;
  border-top: 1px solid #ddd;
}
.layout-sidebar-second li > * {
  display: block;
}
@media all and (max-width: 767px) {
  .layout-content {
    clear: both;
  }
}
@media all and (min-width: 768px) {
  main[role="main"]:nth-child(3) .layout-sidebar-first,
  body:not(.path-frontpage) main[role="main"]:nth-child(3) .layout-content {
    float: left;
    width: 70%;
    padding-right: 1em;
  }
  main[role="main"]:nth-child(3) .layout-sidebar-second {
    float: left;
    width: 30%;
    padding: 0 0 0 1em;
  }
}
main[role="main"] {
  padding: 0.8rem;
  overflow: hidden;
}
@media all and (min-width: 481px) and (max-width: 767px) {
  #block-fepper-content {
    position: relative;
  }
  #block-fepper-content .views-field-field-image {
    padding-top: 75%;
  }
  #block-fepper-content .views-field-field-image .field-content {
    position: absolute;
    top: 0;
    left: 0;
  }
  #block-fepper-content .views-field-title {
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #block-fepper-content .views-field-title a {
    color: #fff;
  }
}
footer[role="contentinfo"] {
  clear: both;
  overflow: hidden;
  background: #131313;
  color: #fff;
  height: 5rem;
  line-height: 1.2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer[role="contentinfo"] a {
  color: #f9f9f9;
}
#block-fepperfooter {
  padding-top: 1.6rem;
}
#block-fepperfooter p {
  margin-bottom: 0;
}
@media all and (min-width: 768px) {
  #block-fepperfooter p {
    float: right;
  }
}
.path-frontpage .layout-content {
  border-bottom: 2px solid #eee;
  margin-bottom: 3.2rem;
  padding: 0 0 3.2rem;
  width: 100%;
}
@media all and (min-width: 768px) {
  .path-frontpage .layout-content {
    margin-bottom: 2rem;
  }
}
.path-frontpage .layout-content #region-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.path-frontpage .layout-content #block-fepper-content {
  margin-bottom: 0.5em;
}
.path-frontpage .layout-content #block-fepper-content img {
  display: block;
}
.path-frontpage .layout-content #block-fepper-content .views-field-title a {
  color: #fff;
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}
@media all and (max-width: 480px) {
  .path-frontpage .layout-content #block-fepper-content .views-field-title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 8.7rem;
  }
}
@media all and (max-width: 767px) {
  .path-frontpage .layout-content #block-fepper-content .views-field-title {
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    padding: 0 0.8rem;
  }
  .path-frontpage .layout-content #block-fepper-content .views-field-title a {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .path-frontpage .layout-content #block-fepper-content .views-field-title {
    padding-top: 19%;
  }
  .path-frontpage .layout-content #block-fepper-content .views-field-title .field-content {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media all and (min-width: 768px) {
  .path-frontpage .layout-content #block-fepper-content {
    position: relative;
  }
  .path-frontpage .layout-content #block-fepper-content .views-field-field-image {
    min-height: 7.68rem;
  }
  .path-frontpage .layout-content #block-fepper-content .views-field-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 1.5em;
  }
}
.path-frontpage .layout-content #region-content > .views-row {
  margin-bottom: 0.5em;
  position: relative;
}
.path-frontpage .layout-content #region-content > .views-row .views-field-field-image {
  min-height: 17rem;
  position: relative;
  z-index: 0;
}
.path-frontpage .layout-content #region-content > .views-row .views-field-field-image img {
  display: block;
}
.path-frontpage .layout-content #region-content > .views-row .views-field-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
.path-frontpage .layout-content #region-content > .views-row .views-field-title a {
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: block;
  padding: 0.5em;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
}
@media all and (max-width: 767px) {
  .path-frontpage .layout-content #region-content > .views-row .views-field-title a {
    font-size: 1.7rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .path-frontpage main[role="main"]:nth-child(3) .layout-content #block-fepper-content,
  .path-frontpage main[role="main"]:nth-child(3) .layout-content #region-content > .views-row {
    width: calc(50% - 0.4rem);
  }
}
@media all and (min-width: 768px) {
  .path-frontpage main[role="main"]:nth-child(3) .layout-content #region-content > .views-row {
    padding-top: 0.8rem;
    width: calc(33.3333333% - 1.0666666rem);
  }
}
article[role="article"] {
  margin-bottom: 1.6rem;
}
article[role="article"] > footer {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0.5em;
}
@media all and (max-width: 480px) {
  #block-views-block-content-recent-block-3 article[role="article"] > div > div:first-of-type > a,
  .view-id-content_recent.view-display-id-page_1 article[role="article"] > div > div:first-of-type > a {
    display: block;
    max-width: 22.5rem;
  }
}
@media all and (max-width: 767px) {
  #block-views-block-content-recent-block-3 article[role="article"] > h2,
  .view-id-content_recent.view-display-id-page_1 article[role="article"] > h2 {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 481px) {
  #block-views-block-content-recent-block-3 .item-list,
  .view-id-content_recent.view-display-id-page_1 .item-list {
    margin-top: 0.5em;
  }
  #block-views-block-content-recent-block-3 .item-list li,
  .view-id-content_recent.view-display-id-page_1 .item-list li {
    clear: both;
    float: left;
    margin-bottom: 2.4rem;
  }
  #block-views-block-content-recent-block-3 article[role="article"] > h2,
  .view-id-content_recent.view-display-id-page_1 article[role="article"] > h2,
  #block-views-block-content-recent-block-3 article[role="article"] div[property="schema:text"],
  .view-id-content_recent.view-display-id-page_1 article[role="article"] div[property="schema:text"],
  #block-views-block-content-recent-block-3 article[role="article"] div[property="text"],
  .view-id-content_recent.view-display-id-page_1 article[role="article"] div[property="text"] {
    float: right;
    margin-top: 0;
    padding: 0 1.6rem;
    width: 70%;
  }
  #block-views-block-content-recent-block-3 article[role="article"] img,
  .view-id-content_recent.view-display-id-page_1 article[role="article"] img {
    float: left;
    height: auto;
    width: 30%;
  }
}
#region-highlighted {
  padding-top: 0;
  padding-bottom: 0;
}
#region-highlighted div[role="contentinfo"] {
  border-width: 1px;
  border-style: solid;
  margin-top: 0.8rem;
  padding: 0.8rem;
}
#region-highlighted div[role="contentinfo"] a {
  text-decoration: underline;
}
#region-highlighted div[aria-label="Status message"] {
  background-color: #f8fff0;
  border-color: #be7;
}
#region-highlighted div[aria-label="Status message"],
#region-highlighted div[aria-label="Status message"] a {
  color: #234600;
}
#region-highlighted div[aria-label="Warning message"] {
  background-color: #fffce5;
  border-color: #ed5;
}
#region-highlighted div[aria-label="Warning message"],
#region-highlighted div[aria-label="Warning message"] a {
  color: #840;
}
#region-highlighted div[aria-label="Error message"] {
  background-color: #fef5f1;
  border-color: #ed541d;
}
#region-highlighted div[aria-label="Error message"],
#region-highlighted div[aria-label="Error message"] a {
  color: #f00;
}
#region-primary-menu {
  padding-bottom: 0;
}
#region-secondary-menu {
  padding-top: 0;
  padding-bottom: 0;
}
#region-primary-menu + #region-secondary-menu {
  padding-top: 0;
}
#region-breadcrumb,
#breadcrumb {
  font-size: 0.75em;
  font-weight: bold;
}
#block-fepper-page-title {
  width: 100%;
}
#block-fepper-local-tasks {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.no-sidebar-second {
  width: 100% !important;
}
.path-search #search-form > * {
  display: inline;
}
.path-search h2 {
  margin: 2.4rem 0;
}
#block-fepper-footer {
  clear: both;
  margin-top: 0.5em;
}
details {
  padding-bottom: 1.6rem;
}
#edit-contact label {
  display: inline;
}
#block-fepper-tools {
  z-index: 1;
}
