section[rel="schema:comment"]
  border-top: 1px solid $gray-light-3
  margin-top: 2em
  h2
    margin: 0.667em 0
  article[typeof="schema:Comment"]
    display: flex
    padding-top: 0.75em
    position: relative
    > footer
      min-height: 11em
      width: 12em
      p
        line-height: 1
        margin: 0
    > div
      padding-bottom: $space-half
      width: calc(100% - 12em)
      .links
        margin-top: $space-quarter
        margin-bottom: 0
  article[typeof="schema:Person"] img
    display: block
    border: 1px solid $gray-light-2
    margin-bottom: 0.5em
    width: 10rem
  span[rel="schema:author"]
    font-size: 0.75em
  span[property="schema:name"]
    font-weight: bold
    &::before
      content: "\A"
      white-space: pre
    &::after
      content: "\A"
      white-space: pre
  > article[typeof="schema:Comment"]:last-of-type,
  article[typeof="schema:Comment"]:last-child
    border-bottom: 1px solid $gray-light-3
  @media (max-width: $bp-xs-max)
    article[typeof="schema:Comment"]
      display: block
      overflow: hidden
      > footer
        float: left
      > div
        padding-bottom: 0
        width: auto
    div[property="schema:text"]
      min-height: 11em
