<!-- begin article -->
<div>
  <!-- begin article body -->
  {{> 02-organisms/01-article/00-article-body }}
  <!-- end article body -->
</div>

{{> 02-organisms/02-comments/00-comment-thread }}

      <div class="l-sidebar">
        {{> 02-organisms/04-sections/02-related-posts }}
        {{> 02-organisms/04-sections/01-recent-tweets }}
      </div><!--end l-sidebar-->

  {{! 02-organisms/00-global/01-footer }}
