&lt;div class=&quot;views-field views-field-field-image&quot;&gt;
  &lt;div class=&quot;field-content&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;
      {{&gt; elements-landscape-16x9 }}
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;views-field views-field-title&quot;&gt;
  &lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/span&gt;
&lt;/div&gt;
