&lt;!-- Begin views-view-unformatted --&gt;
{{# title }}
  &lt;h3&gt;{{ title }}&lt;/h3&gt;
{{/ title }}

{{# templates-views-view-unformatted? }}
  &lt;div{{ row_attributes }}&gt;
    {{{ fpo_template_content }}}
  &lt;/div&gt;
{{/ templates-views-view-unformatted? }}
{{# templates-views-view-rows--pages-homepage__hero? }}
  {{&gt; 03-templates/__views-view-rows(
    row_attributes: &quot;  class=\&quot;views-row\&quot;&quot;,
    &quot;templates-node--pages-homepage__hero?&quot;: true
  ) }}
{{/ templates-views-view-rows--pages-homepage__hero? }}
{{# templates-views-view-rows--pages-homepage__touts? }}
  {{&gt; 03-templates/__views-view-rows(
    row_attributes: &quot;  class=\&quot;views-row\&quot;&quot;,
    &quot;templates-node--pages-homepage__touts?&quot;: true
  ) }}
{{/ templates-views-view-rows--pages-homepage__touts? }}
&lt;!-- End views-view-unformatted --&gt;
