&lt;section class=&quot;comments section&quot;&gt;
  &lt;div class=&quot;comments-container&quot;&gt;
    &lt;h2 class=&quot;section-title&quot;&gt;Selected Comments&lt;/h2&gt;
    &lt;ul class=&quot;comment-list&quot;&gt;
        {{&gt; compounds-single-comment(&quot;description&quot;: &quot;We are all in the gutter, but some of us are looking at the stars.&quot;) }}
        {{&gt; compounds-single-comment(&quot;description&quot;: &quot;A life is like a garden. Perfect moments can be had, but not preserved, except in memory.&quot;) }}
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/section&gt;
