<form id="search-block-form">
  <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
    <label for="edit-keys" class="visually-hidden">Search</label>
    <input title="Enter the terms you wish to search for." placeholder="Search" type="search" id="edit-keys" name="keys" value="" maxlength="128" class="form-search">
  </div>
  <input type="submit" id="edit-submit" value="Search" class="button js-form-submit form-submit">
</form>
