// Colors
$gray = gray
$gray-light = #f9f9f9
$gray-light-2 = #eeeeee
$gray-light-3 = #dddddd
$gray-light-4 = #bbbbbb
$gray-med = #666666
$gray-dark = #333333
$gray-dark-2 = #131313
$white = white
$black = black

$dim = rgba(0, 0, 0, 0.5)
$dimmer = rgba(0, 0, 0, 0.8)
$white-translucent = rgba(255, 255, 255, 0.9)

$error = red
$valid = #089e00

// Typography
$font = "HelveticaNeue", "Helvetica", "Arial", sans-serif
$font-secondary = Georgia, Times, "Times New Roman", serif

$font-size-norm = 1em
$font-size-slightly-larger = 1.1em
$font-size-slightly-smaller = 0.9em
$font-size-sm = 0.75em
$font-size-large = 1.5em

// Layout
$max-width = 115.2rem
$footer-height = 5rem

// Defaults
$space = 1.6rem
$space-and-half = $space * 1.5
$space-double = $space * 2
$space-triple = $space * 3
$space-quad = $space * 4
$space-half = $space / 2
$space-quarter = $space / 4
$pad = 1.6rem
$pad-and-half = $pad * 1.5
$pad-double = $pad * 2
$pad-triple = $pad * 3
$pad-half = $pad / 2
$pad-quarter = $pad / 4

// Breakpoints
$bp-xx-max = unit(bp_xx_max, px) // From source/_scripts/src/variables.styl
$bp-xs-max = unit(bp_xs_max, px) // From source/_scripts/src/variables.styl
$bp-small = $bp-xs-max + 1px
$bp-sm-max = unit(bp_sm_max, px) // From source/_scripts/src/variables.styl
$bp-med = $bp-sm-max + 1px
