<div class="views-element-container">
  {{# templates-views-view--pages-homepage__hero? }}
    {{> 03-templates/views-view("templates-views-view-unformatted--pages-homepage__hero?": true) }}
  {{/ templates-views-view--pages-homepage__hero? }}
  {{# templates-views-view--pages-homepage__touts? }}
    {{> 03-templates/views-view("templates-views-view-unformatted--pages-homepage__touts?": true) }}
  {{/ templates-views-view--pages-homepage__touts? }}
  {{# templates-views-view--pages-homepage__blog? }}
    {{> 03-templates/views-view("templates-views-view-list--pages-homepage__blog?": true) }}
  {{/ templates-views-view--pages-homepage__blog? }}
  {{# templates-views-view--pages-blog? }}
    {{> 03-templates/views-view("templates-views-view-list--pages-blog?": true) }}
  {{/ templates-views-view--pages-blog? }}
</div>
