{{# templates-node--homepage--hero? }}
  {{# hero }}
    <div{{{ row_attributes }}}>
      {{> 01-molecules/02-blocks/02-block-hero }}
    </div>
  {{/ hero }}
{{/ templates-node--homepage--hero? }}
{{# templates-node--homepage--touts? }}
  {{# touts }}
    <div{{{ row_attributes }}}>
      {{> 01-molecules/02-blocks/05-inset-block }}
    </div>
  {{/ touts }}
{{/ templates-node--homepage--touts? }}
{{# templates-node--homepage--blog? }}
  {{# latest-posts }}
    <li{{{ row_attributes }}}>
      {{> 03-templates/node(
        article_attributes: ' role="article" typeof="schema:Article"',
        'molecules-media-block--homepage-blog?': true
      ) }}
    </li>
  {{/ latest-posts }}
{{/ templates-node--homepage--blog? }}
{{# templates-node--blog? }}
  {{# latest-posts }}
    <li{{{ row_attributes }}}>
      {{> 03-templates/node(
        article_attributes: ' role="article" typeof="schema:Article"',
        'molecules-media-block--blog?': true
      ) }}
    </li>
  {{/ latest-posts }}
{{/ templates-node--blog? }}
