<div class="views-element-container contextual-region">
  {{# templates-views-view--blog? }}
    {{> 03-templates/views-view(
      'templates-views-view-list--blog?': true,
      views_view_attributes: ' class=\"contextual-region\"'
    ) }}
  {{/ templates-views-view--blog? }}
</div>
