{{# content? }}
{{/ content? }}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{{ block_attributes }}}>
  {{# no_label? }}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {{/ no_label? }}

  {{ title_prefix }}
  <h2{{{ title_attributes }}}>{{ configuration.label }}</h2>
  {{ title_suffix }}

  {{# templates-block? }}
    {{ content }}
  {{/ templates-block? }}
  {{# molecules-primary-nav? }}
    {{> 01-molecules/05-navigation/00-primary-nav }}
  {{/ molecules-primary-nav? }}
</nav>
