{{# templates-node? }}
  {{{ fpo_template_content }}}
{{/ templates-node? }}
<!-- Begin node -->
<article{{{ article_attributes }}}>

  {{ title_prefix }}
  {{^ view_mode_full? }}
    <h2{{{ title_attributes }}}>
      <a href="{{ url }}" rel="bookmark">{{{ article_title }}}</a>
    </h2>
  {{/ view_mode_full? }}
  {{ title_suffix }}

  {{# content? }}
    <footer>
      <div{{{ author_attributes }}}>
        By {{ author_name }} on {{ date }}
        {{ metadata }}
      </div>
    </footer>
  {{/ content? }}

  <div{{{ content_attributes }}}>
    {{# organisms-article? }}
      {{> 02-organisms/01-article/01-article }}
    {{/ organisms-article? }}
  </div>

</article>
<!-- End node -->
