{{# templates-page? }}
  {{{ fpo_template_content }}}
{{/ templates-page? }}
<!-- Begin page -->
<div class="layout-container">

  <header class="header cf" role="banner">
    {{> 03-templates/region('templates-block--header?': true) }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{> 03-templates/region('templates-block--main?': true) }}
    </div>

    {{# sidebar_first? }}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {{/ sidebar_first? }}

    {{# sidebar_second? }}
      <aside class="layout-sidebar-second" role="complementary">
        {{> 03-templates/region('templates-block--sidebar2?': true) }}
      </aside>
    {{/ sidebar_second? }}

  </main>

  {{# footer? }}
    <footer role="contentinfo">
      {{> 03-templates/region('templates-block--footer?': true) }}
    </footer>
  {{/ footer? }}

</div>
<!-- End page -->
