<!-- Begin views-view-list -->
{{# views_view_list_attributes }}
  <div{{{ views_view_list_attributes }}}>
{{/ views_view_list_attributes }}
  {{# views_view_list_title }}
    <h3>{{{ views_view_list_title }}}</h3>
  {{/ views_view_list_title }}

  <{{ list_type }}{{ list_attributes }}>
    <li{{{ row_attributes }}}>

      {{# templates-views-view? }}
        {{{ fpo_template_content }}}
      {{/ templates-views-view? }}
      {{# latest-posts }}
        {{> 01-molecules/02-blocks/00-media-block }}
      {{/ latest-posts }}

    </li>
  </{{ list_type }}>

{{# views_view_list_attributes }}
  </div>
{{/ views_view_list_attributes }}
<!-- End views-view-list -->
