<!-- Begin views-view-list -->
{{# views_view_list_attributes }}
  <div{{{ views_view_list_attributes }}}>
{{/ views_view_list_attributes }}
  {{# views_view_list_title }}
    <h3>{{{ views_view_list_title }}}</h3>
  {{/ views_view_list_title }}

  {{# list_type }}
    <{{ list_type }}{{ list_attributes }}>
  {{/ list_type }}

      {{# templates-views-view-list? }}
        <li{{ row_attributes }}>
          {{{ fpo_template_content }}}
        </li>
      {{/ templates-views-view-list? }}
      {{# templates-views-view-rows--homepage--blog? }}
        {{> 03-templates/__views-view-rows('templates-node--homepage--blog?': true) }}
      {{/ templates-views-view-rows--homepage--blog? }}
      {{# templates-views-view-rows--blog? }}
        {{> 03-templates/__views-view-rows('templates-node--blog?': true) }}
      {{/ templates-views-view-rows--blog? }}

  {{# list_type }}
    </{{ list_type }}>
  {{/ list_type }}

{{# views_view_list_attributes }}
  </div>
{{/ views_view_list_attributes }}
<!-- End views-view-list -->
