<span class="views-field"><span class="field-content"></span></span><a href="{{ url }}" hreflang="en">{{ article_title }}</a> <span class="views-field"><span class="field-content">{{ timestamp }}</span></span>
