form > div
  margin-bottom: $space
form ol, form ul
  list-style: none
  margin-left: 0
fieldset
  border: 0
  padding: 0
  margin: 0
label
  display: block
  padding-bottom: $space-quarter
button, input, select, textarea
  font-family: inherit
  font-size: 100%
  margin: 0
input, textarea
  border: 1px solid $gray
  padding: $pad-half 1.04rem
input[type=text], input[type=search], input[type=url], input[type=number], textarea
  -webkit-appearance: none
button, input[type="submit"]
  padding: $pad-half
  background: $gray-dark
  border: 1px solid $gray
  color: $white
  cursor: pointer
input[type="checkbox"],
input[type="radio"]
  width: auto
  margin-right: 0.3em
input[type="search"]
  -webkit-appearance: none
  border-radius: 0
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none
#edit-actions
  background: transparent
  color: $gray
  padding: 0
  position: relative
/* Validation */
.has-error
  border-color: $error
.is-valid
  border-color: $valid
#search-block-form
  background-color: $white
  clear: both
  overflow: hidden
  position: relative
  > div
    float: left
    font-size: 1em
    height: 2.25em
    margin-bottom: 0
  input
    height: 2.25em
  #edit-actions:hover
    background: $gray
    color: $white
  #edit-actions.icon-search:before
    position: absolute
    top: 0.5em
    right: 1em
    z-index: 0
  #edit-submit
    background: none
    padding: 1.7rem 0 1.7rem
    border: 1px solid $gray
    border-left: 0
    color: transparent
    font-size: 0.8125em
    position: relative
    z-index: 1
@media all and (min-width: $bp-med)
  #search-block-form
    float: right
    margin: 0.65em 0.5em 0 0
