.pager
  clear: both
  display: flex
  justify-content: center
  padding-top: 1em
  .pager__items
    display: flex
    flex-wrap: wrap
    justify-content: center
  li
    border-right: 1px solid $gray-light-2
    &:last-child
      border: 0
  a
    padding: 1.6rem 1.4rem
  @media all and (max-width: $bp-small - 1px)
    .pager__items
      width: 18rem
  @media all and (max-width: $bp-small-2 - 1px)
    a
      padding: 1.6rem 1.0rem
  @media all and (min-width: $bp-med-2)
    justify-content: flex-start
    .pager__items
      justify-content: flex-start
