&lt;article typeof=&quot;schema:Person&quot;&gt;
  &lt;div&gt;
    &lt;a href=&quot;#&quot;&gt;
      &lt;img src=&quot;{{ img.avatar.src }}&quot; alt=&quot;Avatar&quot; /&gt;
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/article&gt;
