&lt;h2&gt;Recent posts&lt;/h2&gt;
&lt;div class=&quot;views-element-container&quot;&gt;
  &lt;div&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;ul&gt;
        &lt;li&gt;
          &lt;div class=&quot;views-field views-field-title&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot; hreflang=&quot;en&quot;&gt;Top 10 mountain ranges for hiking&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
          &lt;div class=&quot;views-field views-field-changed&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;2 weeks 6 days ago&lt;/span&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;views-field views-field-title&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot; hreflang=&quot;en&quot;&gt;Extreme climbing tips&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
          &lt;div class=&quot;views-field views-field-changed&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;2 weeks 6 days ago&lt;/span&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;views-field views-field-title&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot; hreflang=&quot;en&quot;&gt;Stream hiking&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
          &lt;div class=&quot;views-field views-field-changed&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;2 weeks 6 days ago&lt;/span&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;views-field views-field-title&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot; hreflang=&quot;en&quot;&gt;Explore hiking trails&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
          &lt;div class=&quot;views-field views-field-changed&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;2 weeks 6 days ago&lt;/span&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;views-field views-field-title&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;&lt;a href=&quot;#&quot; hreflang=&quot;en&quot;&gt;Navigate the Allegheny River&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
          &lt;div class=&quot;views-field views-field-changed&quot;&gt;&lt;span class=&quot;field-content&quot;&gt;2 weeks 6 days ago&lt;/span&gt;&lt;/div&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
