<article typeof="schema:Person">
  <div>
    <style>
      #avatar-{{ listitem_id }} {
        display: block;
        fill: {{ svg_fill }};
      }
    </style>
    <a href="#">
      <svg id="avatar-{{ listitem_id }}" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100" height="100" viewBox="0 0 100 100">
        <circle cx="50" cy="43" r="25" />
        <circle cx="50" cy="107" r="43" />
      </svg>
    </a>
  </div>
</article>
