<article typeof="schema:Person">
  <div>
    <a href="#">
      <svg
        id="avatar-{{ listitem_id }}"
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="80"
        viewBox="0 0 80 80"
        fill="{{ svg_fill }}"
        style="display: block;"
      >
        <circle cx="40" cy="24" r="20" />
        <circle cx="40" cy="80" r="34" />
      </svg>
    </a>
  </div>
</article>
