
<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
{{{ patternLabFoot }}}
<!-- End Pattern Lab -->

  <script src="../../core/assets/vendor/domready/ready.min.js?{{ cacheBuster }}"></script>
  <script src="../../core/misc/drupalSettingsLoader.js?{{ cacheBuster }}"></script>
  <script src="../../core/misc/drupal.js?{{ cacheBuster }}"></script>
  <script src="../../_scripts/src/variables.styl?{{ cacheBuster }}" type="text/javascript"></script>
  <script src="../../_scripts/src/fepper-obj.js?{{ cacheBuster }}"></script>
  <script src="../../bower_components/fepper-ui/scripts/pattern-configurer.js?{{ cacheBuster }}"></script>
  <script src="../../_scripts/src/behaviors.js?{{ cacheBuster }}"></script>
</body>
</html>

